[2018-03-26 15:48] BowieHsu opened #1 "前排观摩丹神"
RT

[2018-04-03 02:30] GodOfSmallThings opened #2 "Would the code be written in tensorflow, or caffe?"
I'm just curious, as a tensorflow user.

[2018-04-24 09:41] #1 closed

[2018-04-24 09:42] dengdan commented on #2
Tensorflow.

[2018-04-24 09:42] #2 closed

[2018-04-27 09:12] lw19951231 opened #3 "No module named util"
感谢作者的分享。
但当我运行test.sh，报错信息
Traceback (most recent call last):
  File "test_pixel_link.py", line 8, in <module>
    from datasets import dataset_factory
  File "/home/wen/TextDetection/pixel_link/datasets/dataset_factory.py", line 2, in <module>
    from datasets import dataset_utils
  File "/home/wen/TextDetection/pixel_link/datasets/dataset_utils.py", line 21, in <module>
    import util
ImportEr

[2018-04-27 09:25] #3 closed

[2018-04-28 07:51] zwz7712 opened #4 "no module named util"
谢作者分享，还在初学阶段
同之前那个提问一样，在运行test.sh时，出现：
Traceback (most recent call last):
  File "test_pixel_link.py", line 8, in <module>
    from datasets import dataset_factory
  File "/home/zht/study/PixelLink/pixel_link-master/datasets/dataset_factory.py", line 2, in <module>
    from datasets import dataset_utils
  File "/home/zht/study/PixelLink/pixel_link-master/datasets/dataset_utils.py", line 21, in <mo

[2018-05-01 01:58] lw19951231 commented on #4
你需要设置pythonpath的路径
export PYTHONPATH=${path_to_pixel_link}/pylib/src:$PYTHONPATH

[2018-05-02 08:59] GodOfSmallThings opened #5 "I have few questions."
I have few questions noted below.
1. Have you tried training with SynthText dataset? If yes, does benchmark improved?
2. Your model uses aligned rectangle, rather than 8-coordinate bounding box. Would the performance be improved if we use tight bounding box?

Thank you!

[2018-05-03 01:33] lizzyYL opened #6 "A question about training icdar2015"
Thank you for your sharing :)

I tried using  your network on icdar2015 to trian the model. And I made the dataset 'icdar2015_train.tfrecord' by the script 'icdar2015_to_tfrecords.py' . Then I used './scripts/train.sh' to trian the model. But some warning like this appeared:

2018-05-03 08:20:52.938117: W tensorflow/core/kernels/draw_bounding_box_op.cc:122] Bounding box (-117,-490,-52,-323) is com

[2018-05-03 01:59] BowieHsu commented on #6
just warning  those points outside can not be drawn on image when training, don't care.

[2018-05-03 02:11] BowieHsu commented on #5
@GodOfSmallThings
1.On VGG backbone，I tried train on SynthText about 6W iter using 0.01 learning rate then finetune on IC15 using 0.001 learning rate about 3W iter, the F-measure score is about 77%. But when I train  on IC15 about 10W iter, F-measure score is nearly 82%
2.I tried replace backbone network by resnet50，with same SGD policy after 10W iter training，F-measure is about 75% .
3.Pretrain m

[2018-05-03 05:47] BowieHsu commented on #5
@GodOfSmallThings It may help, you can try to do some experiment.

[2018-05-03 07:43] #6 closed

[2018-05-03 07:44] dengdan commented on #6
Yes, @BowieHsu  is right, thanks.

[2018-05-03 07:44] #4 closed

[2018-05-03 07:47] dengdan commented on #5
Pretraining on SynthText will help. @BowieHsu: when SynthText is added for pretraining, an fmean of  85% can be achieved. http://rrc.cvc.uab.es/?ch=4&com=evaluation&task=1&e=1&f=1&d=0&p=0&s=1

[2018-05-03 07:56] GodOfSmallThings commented on #5
Thank you very much !

[2018-05-03 08:16] lizzyYL commented on #6
ok~thank you @BowieHsu @dengdan

[2018-05-03 09:43] small-wong opened #7 "Problem I met when I try to train with ICDAR2017 dataset."
When I try to train the model using ICDAR2017 dataset, I got the problem below. I wonder how can I fix this? I use the ICARD2015 converting scripts to convert the dataset, am I wrong here? Thanks! :)

INFO:tensorflow:Error reported to Coordinator: <class 'tensorflow.python.framework.errors_impl.InvalidArgumentError'>, All bounding box coordinates must be in [0.0, 1.0]: -0.00061273575
	 [[Node: ssd

[2018-05-03 11:58] dengdan commented on #7
This error message tells everything. You should modify the lines in  [icdar2015_to_tfrecords](https://github.com/ZJULearning/pixel_link/blob/master/datasets/icdar2015_to_tfrecords.py#L41) to make all the bbox values be within the valid range, i.e., [0, 1]:
[code]
The above code has not been tested, only for explanation.

[2018-05-03 11:58] #7 closed

[2018-05-04 02:31] shenduliandan opened #8 "util module"
util module is not implemented, so ' No module named util ' is occurred.

[2018-05-04 02:48] small-wong commented on #7
Thank you very much!~

[2018-05-04 02:59] Gwwwydion opened #9 "Name: <unknown>, Key: image/shape, Index: 0. Number of int64 values != expected. Values size: 2 but output shape: [3]"
训练icdar2015的数据集时出现如下问题：

2018-05-04 10:24:37.968168: W tensorflow/core/framework/op_kernel.cc:1192] Invalid argument: Name: <unknown>, Key: image/shape, Index: 0.  Number of int64 values != expected.  Values size: 2 but output shape: [3]
2018-05-04 10:24:37.968299: W tensorflow/core/kernels/queue_base.cc:303] _1_icdar2015_prefetch_queue/prefetch_queue/fifo_queue: Skipping cancelled dequeue attempt

[2018-05-06 10:53] lizzyYL commented on #5
@BowieHsu @dengdan
I trianed on ICDAR15 about 10W iter, set learning rate 0.001, and batchsize is 12.
But F-measure score is 78.9%(R=77.7% P=80.2%). Obviously lower than your grades.
Are there any parameters need to be adjusted?

Thank you!

[2018-05-06 13:26] BowieHsu commented on #5
dude，1e-2 learning rate will improve  F-score

[2018-05-06 13:35] lizzyYL commented on #5
1e-2 learning rate caused loss = Nan, so I change it to 1e-3....

[2018-05-06 14:51] BowieHsu commented on #5
@lizzyYL so you need train in 1e-3 learning rate for 100 iter and then just train it in 1e-2.

[2018-05-06 15:04] lizzyYL commented on #5
@BowieHsu  Yes, that's what I did the first time. Running train.sh, but loss=nan at 3w iters.
Becasue of bach size? I set it = 8 the first time.

[2018-05-07 02:54] ilovin commented on #8
https://github.com/ZJULearning/pixel_link/issues/4

[2018-05-07 07:18] GodOfSmallThings commented on #5
I also tried at batch 8 for first time, and got Nan. When batch 24, Nan didn't occurred and performance went up to 82.4%.

[2018-05-07 08:43] lizzyYL commented on #5
@GodOfSmallThings   Understand! Thank you for your reply~

[2018-05-07 08:45] sptj opened #10 "Bounding box (-157,-92,-101,53) is completely outside the image and will not be drawn"
Hello friends，
My OS is Ubuntu16.04 LTS, and When I run the command "./script/train 0 8" on dataset icdar2015, I found that it would be output like this,
`2018-05-06 16:24:15.192086: W tensorflow/core/kernels/draw_bounding_box_op.cc:116] Bounding box (-157,-92,-101,53) is completely outside the image and will not be drawn.`

`2018-05-06 16:24:15.192152: W tensorflow/core/kernels/draw_bounding_box_

[2018-05-07 09:06] dengdan commented on #10
Because filtering them away or not does not make any difference on the training process, except for the displayed logging msg. You can do it if you want, and a pull request is welcome.

[2018-05-07 09:06] #10 closed

[2018-05-09 04:43] xgbj opened #11 "i have a question about the learning rate"
When I used the script to train icdar2015 datasets, Nan appeared after roughly  20k rounds. Why is this learning rate set to 1e-3 first and then fixed to 1e-2?

[2018-05-09 05:01] #11 closed

[2018-05-11 13:44] tsing-cv opened #12 "test error！！"
[code]
你好，在测试的过程中，我出现了下面的报错，我不知道怎么解决这个问题，可以帮我解答一下吗？

[2018-05-11 13:53] tsing-cv commented on #12
Solved

[2018-05-12 14:37] mn7142 opened #13 "can't download"
hi
i can't download pretrained model on  baidu
can you upload it on google drive or dropbox
please

[2018-05-13 11:27] tsing-cv commented on #13
2s 链接：https://pan.baidu.com/s/1uhpp9N9Tdm8m5R3pBwQEPA 密码：b6v1
4s 链接：https://pan.baidu.com/s/1aZD4hXaXfjnIbQudDcfkkw 密码：b76v

[2018-05-13 11:38] tsing-cv commented on #5
@lizzyYL @dengdan @BowieHsu @GodOfSmallThings @comzyh
I just want to test on my own images and ICDAR2015,using the two pretrained model.
But an amazing is occured, all the predicted images only  changed their color without any bboxes. All the predicted txt files have no coordinates.
Could you solve the problem for me?

[2018-05-13 14:09] mn7142 commented on #13
tnx @tsing-cv

[2018-05-13 14:54] BowieHsu commented on #5
@tsing-cv so,have you print the pixellink results in test_any_image.py?

[2018-05-14 01:45] GodOfSmallThings commented on #5
@tsing-cv
I've encountered same problem as you. It seems like the network has reached non-opitimal local minima. (It may not be diverged, because loss don't goes to infinity or nan) You can try few checkpoints from the last to earlier one, and there may be the checkpoint that is not trapped on non-optimal point. Then you can erase checkpoints after it, modify checkpoint(txt), and resume training/t

[2018-05-14 02:06] GodOfSmallThings commented on #5
@dengdan
Can you share details on how you achieved 85% hmean? (learning rate, number of iterations, etc)

[2018-05-14 02:59] BowieHsu commented on #5
@GodOfSmallThings  I meet the same problem, After training on SynthText for about 10W iter using 1e-2 learning rate and then  finetune on ICDAR2015, the F-score stay 0 forever.

[2018-05-14 14:18] BowieHsu commented on #5
@dengdan @GodOfSmallThings another thing, I tried add BN ops after every conv layer which leads F-score drop about 5~6%.

[2018-05-14 14:52] #9 closed

[2018-05-14 14:58] Gwwwydion opened #14 "内存一直在上涨？"
训练到一半报内存不足的错，重新开始训练，发现内存占用率一直在上涨，显存没有变化，问题可能出现在哪里？

[2018-05-14 15:38] tsing-cv commented on #5
@GodOfSmallThings Could you share your trained model for me

[2018-05-14 16:30] JmmSu opened #15 "GPU OOM problem"
![default](https://user-images.githubusercontent.com/33445796/40009920-e73aca06-57d5-11e8-9da6-312b2350739f.png)
Hi,
  I tried to train the model with icdar2015 dataset on a GTX1080 with 8GB memory,but failed with GPU out of memory problem,even when I set the batchsize to 1.
 What should I do to solve this problem?Should this be some error when I run the code or just mean I need a GPU with larger

[2018-05-15 00:51] GodOfSmallThings commented on #5
@tsing-cv
I think sharing the weight won't help you much, so I'll just tell the method.
1) Just train 3~40000 iters.
2) See the result and resume training.

You'll probably see at some point training is working. Find the point where training fails, checking the result every 10000 times.

[2018-05-15 01:55] BowieHsu commented on #5
@GodOfSmallThings have you tried to use staircase learning rate instead of fix it at 1e-2, I also tried Adam, perform bad, I think the reason should be upscale 1*1 convolution, the channel of those 1*1 convolution are too few which leads network unstable.

[2018-05-15 02:29] GodOfSmallThings commented on #5
@BowieHsu
I thought similarly. I was guessing Adam performs well when the network is deep enough. Anyway, I don't think staircase will solve the problem. I think problem comes from that this model inherently generates big loss, since the input bbox is aligned rectangle, which contains lot of background. I think modifying data augmentation, which is to make bbox tight to the words, will help.

[2018-05-15 04:12] #15 closed

[2018-05-16 12:42] tsing-cv commented on #5
Anybody encountered this problem?
[code]

[2018-05-17 08:35] GodOfSmallThings commented on #5
@tsing-cv
I didn't encounter the problem above. Seems like type mismatch problem.
However, thing is that you are using python3. The code is based on python2. Note that python version can behave in different way. And check tensorflow version, too.

[2018-05-17 11:06] 741077510 opened #16 "The two thresholds on pixels and link"
can you tell me the meaning of the two thresholds on pixels and link? I don't know the corresponding result of changing each of them.Hope for your advice

[2018-05-18 03:15] tsing-cv commented on #5
Why it always give these notes, while training? @GodOfSmallThings
 Bounding box (-19,538,78,592) is completely outside the image and will not be drawn.

[2018-05-18 04:44] tsing-cv commented on #14
batch_size和GPU ID重新设置一下吧

[2018-05-18 06:05] GodOfSmallThings commented on #5
@tsing-cv Sorry, I don't know. I didn't dig to that problem yet.

[2018-05-18 07:00] small-wong commented on #5
@tsing-cv #6

[2018-05-18 09:46] tsing-cv commented on #5
@small_wrong, think you

[2018-05-18 13:20] tsing-cv opened #17 "Anybody can give me a trained model for test?The author's cannot work"

[2018-05-18 14:52] tsing-cv commented on #5
@GodOfSmallThings I have trained over 50,000 iters.It only change the images'color, but still cannot draw BBoxes.

[2018-05-20 12:12] #14 closed

[2018-05-20 12:16] mn7142 opened #18 "hi"

[2018-05-20 12:48] mn7142 commented on #18
solved it

[2018-05-20 14:04] tsing-cv commented on #18
How about your test result?Can it draw boxes precisely?

[2018-05-22 00:38] Jyouhou commented on #5
Hi, can anyone obtain the result of 83.7%?

[2018-05-22 09:32] small-wong commented on #5
@tsing-cv I have trained the [model](https://pan.baidu.com/s/1fqB4OBorbMKgazXym4_Sig) to detect Chinese text, you can have a try~

[2018-05-24 03:38] cjt222 commented on #5
i am training the model to detect English text in documents, how can i make sure model has converged? i try to finetune the model author provided by my images， what can loss reach? it converges so slow... @GodOfSmallThings @BowieHsu @dengdan @lizzyYL @tsing-cv

[2018-05-24 04:55] BowieHsu commented on #5
@cjt222 you can download icdar accuracy calculate bash to test whether your model has converged.

[2018-05-24 07:08] tsing-cv commented on #5
@cjt222 I haven't trained a useful model

[2018-05-24 07:09] tsing-cv commented on #5
@small-wong Thank you !

[2018-05-24 09:29] hoangtocdo90 opened #20 "[Questtion] Is training step need pretrained model"
did training process with SynthText dataset need pretrained model in [https://github.com/ZJULearning/pixel_link#download-the-pretrained-model](url) or not?
i want to train price detection of postal stamp .
sample image somethings like this :
![1](https://user-images.githubusercontent.com/22963463/40477003-6292a014-5f80-11e8-99b9-42a59f630f7c.jpg)

i'm tested with pretrained model . result is good

[2018-05-25 02:19] cjt222 commented on #5
how can i train model by vgg pretrain model?i download vgg model from
https://github.com/tensorflow/models/tree/master/research/slim,but it can not load it,some layers can not be found @tsing-cv

[2018-05-26 15:13] tsing-cv commented on #5
@cjt222 If you want to use pretrained model, you should  write a loading model code file.

[2018-05-28 04:07] XiaodanLi001 opened #21 "Can you provide ch4_test_localization_transcription_gt?"
Hello sir, I can't find this file on website ICDAR2015, but since I want to run your code to convert data into tfrecoders, the file ch4_test_localization_transcription_gt is needed in file dataset/icdar2015_to_tfrecords.py line67, so can you please provide this file for me? I would appreciate it a lot.

[2018-05-29 12:35] #12 closed

[2018-05-29 12:49] tsing-cv opened #22 "为什么box是两个对角坐标，而不是四个角点坐标呢？"
[code]

[2018-05-30 03:27] dajiangxiaoyan opened #23 "ImportError: No module named util"
![image](https://user-images.githubusercontent.com/17979833/40697261-fdc0859a-63fb-11e8-820f-acd2e66a8d89.png)

Thank you very much for sharing code. Its beautiful.
But i can not find this python module?

[2018-05-30 03:37] #23 closed

[2018-05-31 01:54] dajiangxiaoyan opened #24 "Detect mutli-line text in one box?"
I have re-trained the model based on my own dataset. And it works better than east. But there is a problem. Sometimes the model detect multi-line in one box like this:
![image](https://user-images.githubusercontent.com/17979833/40756937-8ab30d80-64b8-11e8-909f-2326c1e19a1b.png)

[2018-05-31 07:47] af258963 commented on #5
@small-wong can you share the model again? the model to detect Chinese text

[2018-05-31 13:43] #17 closed

[2018-06-01 13:05] tsing-cv opened #25 "可以详细解释一下这个函数吗？"
[code]
@dengdan  @BowieHsu  @GodOfSmallThings

[2018-06-02 09:11] chintler commented on #18
@mn7142 Can you let us know how you fixed it?

[2018-06-04 13:38] chintler opened #26 "Getting no results on ICDAR-15"
I have followed every step as given, and yet I cannot get a single result on the ICDAR-15 test dataset. Any tips on what I might be doing wrong? I tried tweaking the parameters to test_pixel_link_on_any_image.py  and test_pixel_link.py , and tried with both the models. The code runs without any error, and generates the text and zip files as well.

If there are any gotchas or things I'm missing, pl

[2018-06-04 17:56] kulkarnivishal opened #27 "Can I change the code from py2.7 to py 3.6?"
Would there be an issue if I change the python code from 2.7 to 3.6 using Automated 2-3 translation?
Also, I wish to train the model on coco dataset, I have prepared the data in ICDAR 2015 format, would there be any issues there? I am asking this because of a lot of issues concerning training the model.

[2018-06-05 00:09] kulkarnivishal commented on #27
I tried translating the code from 2.7 to 3.6, the code runs without errors but returns no bounding boxes.

[2018-06-05 06:20] chintler commented on #27
@kulkarnivishal Having the same problem, I opened an issue too. Translated the codebase to 3.5, but no BB returned.

[2018-06-05 07:02] Altaf-Rahman commented on #13
Hi. I am also not able to download the pretrained models. Links given here are also not working. Can you provide alternative links?

[2018-06-06 10:32] Altaf-Rahman commented on #13
I was able to download the models after applying proxy settings of USA.

[2018-06-07 01:34] #5 closed

[2018-06-07 02:58] BowieHsu commented on #27
@kulkarnivishal
1.can you provide training information? such like loss figure or something else
2.have you test model on training data?
3.maybe you should debug the postprocess code include search link graph

[2018-06-07 18:50] kulkarnivishal commented on #27
Thanks for the reply, I am using the pertained model VGG 16 2s

[2018-06-11 15:12] TechBK opened #28 "Where test ground truth transcript ?"
I see that at line: [#L67](https://github.com/ZJULearning/pixel_link/blob/master/datasets/icdar2015_to_tfrecords.py#L67), you read bounding box from ground truth transcript of test data.
But, i dont see the transcript of test images at  [ICDAR2015 dataset](http://rrc.cvc.uab.es/?ch=4&com=downloads).
So how i got it?

[2018-06-12 12:48] baby313 opened #29 "Will resnet50 or pvanet works better?"
I tried resnet50 and pvanet as base nets. However, vgg16 is the best one. I wonder that if I did something wrong in training process? Have you guys tried other base nets?

[2018-06-13 14:13] LiangHao92 opened #30 "训练时候的一个问题"
你好，我用其他的数据生成了tfrecord格式的数据，然后一直卡住不动了，显示的是
`INFO:tensorflow:Starting Session.
INFO:tensorflow:Starting Queues.
INFO:tensorflow:global_step/sec: 0
INFO:tensorflow:global_step/sec: 0
INFO:tensorflow:global_step/sec: 0
INFO:tensorflow:global_step/sec: 0
INFO:tensorflow:global_step/sec: 0
INFO:tensorflow:global_step/sec: 0
INFO:tensorflow:global_step/sec: 0
INFO:tensorflow:global_step/sec: 0
INFO:tenso

[2018-06-13 14:15] baby313 commented on #27
Change pixel_link_decode.pyx:53 `points = zip(*np.where(pixel_mask))` to `points = list(zip(*np.where(pixel_mask)))`

[2018-06-13 14:21] LiangHao92 commented on #30
训练的时候一直这样不动了，请问是数据的问题么

[2018-06-14 01:35] LiangHao92 opened #31 "训练的时候不输出loss"
你好，我想请问一下。我先用icdar的数据试了一下训练，没有问题，loss正常输出。然后我用自己的数据生成了tfrecord格式来训练，但训练的时候不输出loss，只是模型的数据在一直更新，请问这是什么情况

[2018-06-14 07:22] chintler commented on #26
https://github.com/ZJULearning/pixel_link/issues/27
Used the fix here, works great.

[2018-06-14 07:22] #26 closed

[2018-06-14 07:23] wanghuok commented on #31
我用自己的数据集训练的时候loss一直等于0,这是咋回事？

[2018-06-14 15:57] wanghuok opened #32 "When training on my datasets , the loss =0.00000"
I convert my datasets format  from voc to icdar2015. And then, i use icdar2015_to_tfrecord.py to convert them to tfrecord file. I use this file to train pixel_link, but loss always 0.000. What's wrong with it? Thanks.

[2018-06-15 03:32] #31 closed

[2018-06-15 06:33] wanghuok commented on #32
When i convert voc to icdar2015, i set labels from '###' to anyother text, solved it.

[2018-06-15 06:33] #32 closed

[2018-06-15 06:43] wanghuok commented on #22
@tsing-cv 你好，请问你在某个issue里面提到用模型进行测试的时候，测试结果没有画出框，只是颜色改变了，请问你后来如何解决的？

[2018-06-15 15:01] #25 closed

[2018-06-15 15:10] tsing-cv commented on #22
@wanghuok 颜色通道问题，把BGR变成RGB通道即可

[2018-06-18 08:48] mn7142 commented on #18
@chintler download pylib and copy to pylib folder in the source code

[2018-06-18 15:35] mn7142 opened #33 "gt for icdar 2015 test image"

[2018-06-18 15:37] mn7142 opened #34 "gt for test image icdar2015"
i can't find ground truth for icdar 2015 test image
please help me to find it

[2018-06-19 02:48] dajiangxiaoyan commented on #24
@Heterfire  可以使用crnn

[2018-06-19 07:01] leichangqing opened #35 "where is the util.py file"
where is the util.py file, don't find util.py in projects.

[2018-06-19 09:39] mn7142 commented on #35
https://github.com/dengdan/pylib/archive/e749559c9a4bcee3339081ec2d159a6dcf41636e.zip

[2018-06-19 09:40] mn7142 commented on #8
https://github.com/dengdan/pylib/archive/e749559c9a4bcee3339081ec2d159a6dcf41636e.zip

[2018-06-21 16:46] zxDeepDiver commented on #12
Could you please tell me how to solve it?

[2018-06-21 16:50] zxDeepDiver commented on #12
solved by
`pip install setproctitle`

[2018-06-25 09:28] GodOfSmallThings commented on #29
@baby313
I got worse result too with resnet50. Which endpoints did you use in resnet?

[2018-06-25 10:10] leichangqing opened #36 "why got loss = nan"
why got loss =nan after some steps.

INFO:tensorflow:global step 98468: loss = nan (0.416 sec/step)

[2018-06-26 06:34] aravinthmuthu commented on #24
If your data is horizontally aligned, try adding weights to your link_conf_thresholds. Increase vertical conf_thesh and decrease horizontal conf_thresh.
Works like a charm.

[2018-06-28 14:48] aravinthmuthu opened #37 "Models trained on multiple datasets"
Could anyone share links to pixel-link models trained on TD500-train +HUST-TR400?
It is mentioned in the paper under Sec-5.4 on detecting long texts.

[2018-06-29 07:04] aravinthmuthu commented on #29
Pixel_link learns very minimalistic representations with limited receptive fields. Hence ResNet might be an overkill. Has anyone experimented with alexNet as the base model?

[2018-06-29 07:09] aravinthmuthu commented on #27
@kulkarnivishal  Did you get expected results with python 2.7 training?

[2018-06-29 07:20] aravinthmuthu commented on #5
@tsing-cv   Bounding box (-19,538,78,592) is completely outside the image and will not be drawn.
issue is because of data augmentation. The authors randomly crop boxes in the the scales 0.1 to 1. So naturally a few GT boxes are partially in the image.

[2018-07-01 21:38] BowieHsu commented on #29
@aravinthmuthu i try to use modified VGG Net as backbone, after cut a lot of parameters, the final mAP is still at 82.5%, PixelLink network is a little bit tricky.

[2018-07-02 01:50] GodOfSmallThings commented on #29
@BowieHsu
PixelLink is really tricky, never seen this kind of network before. My final mAP is 83.3 with only icdar15 dataset. I tried to raise this score by inserting batch norm or change hyper parameters, but it never succeeded yet so far. I'll share it if there is any improvement.

[2018-07-02 09:12] chintler commented on #27
I got decent results after porting to 3.6, using the fix @Guo Mingyu
suggested, along with a few changes of my own.

On Fri, Jun 29, 2018 at 12:39 PM, Aravinth Muthu <notifications@github.com>
wrote:

[2018-07-03 00:35] GodOfSmallThings commented on #36
How many batches are you using? If small, try to use lower learning rate.

[2018-07-03 13:44] GodOfSmallThings commented on #36
@changkaizhao @leichangqing
How did you changed the model?

[2018-07-04 07:45] JarveeLee opened #38 "Want to see your loss curve..."
I am trying to implement this paper under pytorch.
It has been done except loss weight , wish to achieve your performance in Table5 , 3 "without instance balance "
But my loss value keep wondering at a high level for hours.....and behaving like a pure FCN in Table5,2 , predicting links all of 1 with neighbor pixels....
So could you show your loss curve or train log ? or any suggestion ?

[2018-07-04 08:10] changkaizhao commented on #36
nothing changed! but it now goes well. weird!!!

[2018-07-06 12:36] changkaizhao commented on #36
@GodOfSmallThings  model params only save on `/GPU:0`,  your devices should include `/GPU:0` to train your model.

[2018-07-08 11:13] tgbamg commented on #27
@chintler how do you fix it?I still have problems.Could you send me a copy of 3.6 version?
My email is tgbamg@gmail.com.

[2018-07-08 14:03] tgbamg opened #39 ".sh file can not run on my windows."
Since .sh file can not run on my windows, is there any way to run the demo on my win10?

[2018-07-09 10:53] tgbamg commented on #35
@mn7142 How to add util.py on win10?

[2018-07-09 11:33] tgbamg commented on #8
@shenduliandan How to make util module implemented?

[2018-07-09 11:35] tgbamg commented on #8
when I want to run "from importlib import util", an Error occurs:"ImportError: cannot import name util".
How to solve it?

[2018-07-09 12:44] tgbamg commented on #18
@kulkarnivishal I tried as you say"download pylib and copy to pylib folder in the source code", but still could not fix it.

[2018-07-09 12:46] tgbamg commented on #18
@mn7142  I tried as you say"download pylib and copy to pylib folder in the source code", but still could not fix it.

[2018-07-09 17:35] kulkarnivishal commented on #18
Export the pylib path to your python path:
export PYTHONPATH=${path_to_pixel_link}/pylib/src:$PYTHONPATH
If you want to avoid doing this every time, copy util folder (pylib/src/util) to source

[2018-07-10 01:19] tgbamg opened #40 "Help please!"
When I run the test code on win10 terminal, I received UnicodeDecodeError:

E:\文本检测之pixel_link\pixel_link-master\pixel_link-master>python test_pixel_link.py
Traceback (most recent call last):
  File "test_pixel_link.py", line 8, in <module>
    from datasets import dataset_factory
  File "E:\文本检测之pixel_link\pixel_link-master\pixel_link-master\datasets\dataset_factory.py", line 3, in <module>
    f

[2018-07-10 11:21] #39 closed

[2018-07-10 11:22] #40 closed

[2018-07-11 06:41] nggih commented on #8
If the problem is about "import util", you need to get the pylib first. Then, copy or use the path to the pylib/src/util

[2018-07-16 03:14] lizzyYL commented on #29
@baby313 @GodOfSmallThings @aravinthmuthu @BowieHsu @comzyh
Did you use the pretained resnet on Imagenet? and could you share the best score based on resnet?

[2018-07-16 03:35] GodOfSmallThings commented on #29
@lizzyYL
In my case, resnet50 performed worse(~7x%) with paper's training setting.
And since learning rate is relatively so high(1e-2), I'm not sure ImageNet pretrained model would work.

[2018-07-16 07:08] lizzyYL commented on #29
@GodOfSmallThings  Thank you for your reply.
My result is 68%-70%(80000 iterations), and the resnet did not been pretrained.

[2018-07-17 09:18] Jason-Yu-RD opened #41 "生成数据集 label 和label_text对检测结果有影响么？"
RT，打算训练模型用来检测表单中的文字，打标的数据是没有将label标出的，在生成tfrecord的不指定label和label_text对结果有影响么？ 个人理解，应该是没有的，求解

[2018-07-17 09:55] rmmal opened #42 "Pre-trained model url is not valid"
I can't download pre-trained models

    PixelLink + VGG16 4s, trained on IC15
    PixelLink + VGG16 2s, trained on IC15

both gave me : https://pan.baidu.com/error/404.html

[2018-07-17 16:24] zxDeepDiver commented on #36
I also met nan sometime.

[2018-07-23 09:38] baby313 commented on #29
~7x% @ not pretrained  @lizzyYL

[2018-07-24 09:31] ccnankai commented on #35
@mn7142
生成tfrecords  要import config        请问config在哪儿？

[2018-07-24 09:31] ccnankai commented on #41
生成tfrecords  要import config        请问config在哪儿？

[2018-07-25 01:34] lijun20 opened #43 "Bounding box (545,155,559,181) is completely outside the image and will not be drawn"
2018-07-25 09:32:24.857873: W tensorflow/core/kernels/draw_bounding_box_op.cc:122] Bounding box (545,155,559,181) is completely outside the image and will not be drawn.

Do you have this problem ?

[2018-07-25 07:52] mn7142 commented on #43
yes
i have this problem too
please help to resolve it

[2018-07-25 07:56] mn7142 commented on #35
you should add this file in  path or python path

[2018-07-25 09:09] Dugujiujian12321 commented on #12
How to solve this problem? thank you

[2018-07-25 17:42] kulkarnivishal commented on #43
#6

[2018-07-25 23:18] kulkarnivishal opened #44 "Loss is not improving"
Hi @dengdan @BowieHsu

I have been training the model with COCO dataset for a couple of days, and yet the loss is not improving. I used the default parameters and training with batch size set at 8. Looking forward to your suggestions. Please find the screenshot for reference:

Best,
Vishal

![image](https://user-images.githubusercontent.com/36867201/43232547-56525926-9026-11e8-9292-4773de1ef515.pn

[2018-07-25 23:33] dfeldm commented on #24
@aravinthmuthu could you kindly you share specifics on how you were able to add weights to your link_conf_thresholds?

[2018-07-26 08:53] lijun20 opened #45 "the loss changes too much"
INFO:tensorflow:global step 6420: loss = 5.4209 (0.596 sec/step)
INFO:tensorflow:global step 6430: loss = 5.3637 (0.334 sec/step)
INFO:tensorflow:global step 6440: loss = 9.0471 (0.274 sec/step)
INFO:tensorflow:global step 6450: loss = 6377.4712 (0.464 sec/step)
INFO:tensorflow:global step 6460: loss = 5869.8906 (0.447 sec/step)
INFO:tensorflow:global step 6470: loss = 1870.6338 (0.513 sec/step)
I

[2018-07-26 19:07] ciciphus opened #46 "save model as a pb file"
Has anyone successfully save the model as a pb file?
when I try to inspect the pbtxt graph with
`bazel-bin/tensorflow/tools/graph_transforms/summarize_graph --in_graph=graph.pbtxt`
I got

which stops me from saving it as a pb file.
Is there a way to save this model as a pb file?

[2018-07-27 13:19] ccnankai opened #47 "Can't reach the results on the paper"
Hi,
@DelightRun
I used my own data set for training, the test results are not good. I have trained 20,000 steps, and The loss function stops and does not reduced( stop at 0.6).
Can you give some Suggestions for improvement to get better results？Which parameters need to be changed？

![image](https://user-images.githubusercontent.com/33537489/43322920-b5456ea6-91e2-11e8-8858-8abe5c789eaa.png)

Thank

[2018-07-30 01:38] GodOfSmallThings opened #48 "Can you provide the setting that reaches to 85.x% accuracy?"
@dengdan
I tried to reproduce the result that you've reached, which is 85%. However, I failed to make that result. It goes as much as 83% in my experiments. Can you provide the setting(e.g hyper parameters that you've used for pretraining and finetuning) using both Synth Text and ICDAR datasets?

Thank you.

[2018-07-31 12:11] mn7142 commented on #43
i try to train with icdar 2017 and this warning appear:
 W tensorflow/core/kernels/draw_bounding_box_op.cc:122] Bounding box (545,155,559,181) is completely outside the image and will not be drawn.
please guide me

[2018-08-02 08:41] lijun20 opened #49 "missing parameter MIN_ROTATION_SCLAE and MAX_ROTATION_SCLAE"
The **ssd_vgg_preprocessing.py** file lost the MIN_ROTATION_SCLAE and MAX_ROTATION_SCLAE parameters. How should this be set?

[2018-08-02 17:58] kulkarnivishal commented on #43
Ignore this warning, it doesn't affect the training. However, if you want to avoid seeing this, you could set max_expand_scale = 2 [here](https://github.com/ZJULearning/pixel_link/blob/c6f2911095b32d4c27cec195c62f08c66cc08f4a/config.py#L22)

[2018-08-07 13:11] mn7142 opened #50 "train with other data set"
i want to train this network with own dataset but i can't
bounding box error is appear
how to solve it

InvalidArgumentError (see above for traceback): All bounding box coordinates must be in [0.0, 1.0]: 2.9401994
	 [[Node: ssd_preprocessing_train/distorted_bounding_box_crop/SampleDistortedBoundingBox = SampleDistortedBoundingBox[T=DT_INT32, area_range=[0.1, 1], aspect_ratio_range=[0.5, 2], max_at

[2018-08-07 13:54] mn7142 opened #51 "image size"
size of images in icdar 2015 is 720*1280 and fix for all images
in my dataset size of image is variant , is this important?
Should the size of the images be fixed؟

[2018-08-09 18:48] ciciphus commented on #51
the preprocessing stuff resize the image. Just set the training image size in the scripts

[2018-08-09 18:49] ciciphus commented on #50
Duplicate of #43

[2018-08-10 00:41] kasyoukin opened #52 "when use multigpu, the training is very slow"
./scripts/train.sh 0,1,2 8
step 40: loss = 1.9969 (4.166 sec/step)

[code]

all gpu is not busy, i try to modify the num_readers and num_preprocessing_threads ,but it is not work

[2018-08-11 07:40] mn7142 commented on #51
@ciciphus Where should I set the size؟
please help me to find this part of code

[2018-08-13 10:09] mn7142 opened #54 "fine tune"
how to fine tune weights on own data set?
I want to use your weigh and fine tune with my own dataset

[2018-08-13 15:06] mn7142 opened #55 "evaluate"
how to evaluate my result?
where is the code for computing F,R,P ?

[2018-08-15 01:35] ciciphus commented on #51
not sure what size u would like to set. In train.sh you can set the training image size(input of the neural network) , but that's not relate to your image size. Cuz it has some other operations like rotate and crop in preprocessing/ssd_vgg_preprocessing.py .

[2018-08-16 07:16] shengye205 commented on #50
Hi
Do you solve the problem above. I meet this problem too.

[2018-08-16 07:30] greatgeekgrace commented on #47
Hi, How do you train that ~~I got a problem:
1. 刚开始时loss就很低0.0010左右，等到2000step时就成0.0000了
2. 训练的结果，只是框了红线部分，其他没有框
![image](https://user-images.githubusercontent.com/15572156/44194661-3a817200-a169-11e8-9e82-e2e3f92774bb.png)
多谢您了~~

[2018-08-17 01:45] ccnankai commented on #47
@greatgeekgrace   我现在也遇到了同样问题，框的一点儿也不准。

[2018-08-17 02:09] raviteja8484 opened #56 "NO chkpt data"
TYhe URL for the training is not valid. Keep getting issue. Is there a model which one can use or a chkot file to run model from?

[2018-08-17 06:30] ccnankai commented on #47
@greatgeekgrace   我记得应该不用调什么，把样本标记好就可以了。

[2018-08-18 07:37] mn7142 opened #57 "size of input image"
In this network you have used VGG16, and input size of vgg16 is 224*224 but you said the input size for training is 512*512???!!
please help me to understand this Contradiction!!

[2018-08-18 14:10] ddev790 opened #58 "Unable to download the PixelLink + VGG16 dataset"
@dengdan Hi DengDan,
We're unable to download the following dataset from the baidu server. It times-out every-time. I've tried downloading it like 10 times now but it did not work. Please can share it on dropbox or GDrive. It would be of great help. We are currently stuck!

PixelLink + VGG16 4s, trained on IC15
PixelLink + VGG16 2s, trained on IC15

If Possible then event this dataset:
 ICDAR2015

[2018-08-21 04:49] fjnuwm opened #59 "training error"
Traceback (most recent call last):
  File "train_pixel_link.py", line 293, in <module>
    tf.app.run()
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/platform/app.py", line 48, in run
    _sys.exit(main(_sys.argv[:1] + flags_passthrough))
  File "train_pixel_link.py", line 289, in main
    train(train_op)
  File "train_pixel_link.py", line 278, in train
    session_config = sess

[2018-08-21 07:31] fjnuwm commented on #50
hi
i meet this problem too,how to solve the problem

[2018-08-21 08:15] mn7142 commented on #58
2s 链接：https://pan.baidu.com/s/1uhpp9N9Tdm8m5R3pBwQEPA 密码：b6v1
4s 链接：https://pan.baidu.com/s/1aZD4hXaXfjnIbQudDcfkkw 密码：b76v

[2018-08-22 05:36] mkothule commented on #58
having same download issue.

Baidu does not allow downloading the files. Need to register 1st. (which is not possible I done have Chinese contact number)
Link shared above also dont work.

Kindly provide alternate link.

Thanks

[2018-08-22 06:25] Dugujiujian12321 opened #60 "color rgb to bgr"
the test image will change color. For example, red will change to be blue. How to solve it?

[2018-08-22 23:01] #46 closed

[2018-08-25 16:03] mn7142 opened #61 "evaluate my result"
i cant't evaluate my result
please help me to calculate precision and recall on  my result
if bounding box is rectangle i can calculate  it but in this case bonding box is quadrangle

[2018-08-26 12:31] mn7142 commented on #50
yes. i solved it
my problem related to ground truth coordinate
some of coordinate is out of range and i get this error
check your dataset for this problem

[2018-08-27 15:19] BaptistePiron commented on #57
Unlike the original VGG16 architecture, PixelLink uses a fully convolutional approach. It means fully connected layers are replaced by convolution layers, thus allowing any input size. You can find more detailed informations about the architecture on the original paper of Pixel Link.

[2018-08-27 19:00] kulkarnivishal commented on #11
Any solution to this?

[2018-08-28 16:56] kulkarnivishal commented on #60
this is because opencv interprets rgb (PIL) channels to BGR, hence the red in an image turns to blue and vice versa. Just switch the channels before displaying

[2018-08-28 17:08] kulkarnivishal commented on #59
#7

[2018-09-03 02:53] fjnuwm commented on #59
Thank you!I solved.

[2018-09-03 02:54] #59 closed

[2018-09-03 13:15] ansul26 commented on #12
Solved

[2018-09-04 01:33] #60 closed

[2018-09-04 08:04] wanghuok opened #63 "I do not want to resize the image, but use original size, and train pixellink with batchsize=1, how could i do?"
I do not want to resize the image, but use original size, and train pixellink with batchsize=1, how could i do? Thanks for your help.

[2018-09-04 08:15] Randy66 opened #64 "Error:All bounding box coordinates must be in [0.0, 1.0]: -0.00275482098"
when i train my own datasets,it's occured that 'Error reported to Coordinator'
<class 'tensorflow.python.framework.errors_impl.InvalidArgumentError'>, All bounding box coordinates must be in [0.0, 1.0]: -0.00275482098
	 [[Node: ssd_preprocessing_train/distorted_bounding_box_crop/sample_distorted_bounding_box/SampleDistortedBoundingBoxV2 = SampleDistortedBoundingBoxV2[T=DT_INT32, area_range=[0.1, 1

[2018-09-06 19:08] MrOCR opened #65 "training using cpu only"
how can I train using only cpu?

[2018-09-08 08:06] mn7142 commented on #48
@GodOfSmallThings @kulkarnivishal
please help me to evaluate my result
how can you calculate your result?

[2018-09-08 08:11] mn7142 commented on #29
@GodOfSmallThings @BowieHsu @lizzyYL
i can't evaluate my result
please help me to calculate precision and recall on my result

[2018-09-08 08:54] mn7142 opened #66 "multi scale"
how to train this network in multi scale mode?
i can't find MS in config file

[2018-09-09 03:27] lizzyYL commented on #29
@mn7142 You can use the test scripts to build an offline test platform，
or  use the online testing : http://rrc.cvc.uab.es/?ch=4&com=evaluation&task=1&gtv=1

[2018-09-11 05:47] ccnankai commented on #29
Replacing vgg with resnet-50, why did it deteriorate? Who can explain  to me?  thanks .

[2018-09-14 10:44] mn7142 commented on #29
thank you @lizzyYL
how to evaluate on other dataset?

[2018-09-22 05:49] MnmohanSinghThakur opened #67 "Illegal instruction error"
(py27) manmohan@manmohan-Latitude-E6410:~/Documents/PixelConnected/pixel_link-master$ ./scripts/test.sh 0 /home/manmohan/Documents/PixelConnected/conv2_2/model.ckpt-73018.data-00000-of-00001 /home/manmohan/Documents/PixelConnected/ch4_test_images
++ set -e
++ export CUDA_VISIBLE_DEVICES=0
++ CUDA_VISIBLE_DEVICES=0
++ python test_pixel_link.py --checkpoint_path=/home/manmohan/Documents/PixelConnect

[2018-10-02 14:13] pymia commented on #37
- [HUST-TR400](http://www.vlrlab.net/admin/uploads/HUST-TR400.zip)
- [MSRA-TD500](http://www.iapr-tc11.org/mediawiki/index.php/MSRA_Text_Detection_500_Database_(MSRA-TD500))

[2018-10-06 10:57] #56 closed

[2018-10-16 07:42] northeastsquare commented on #41
我是随便指定了一个label

[2018-10-16 12:12] UpCoder commented on #64
I think it may be same with [this issue](https://github.com/ZJULearning/pixel_link/issues/7)

[2018-10-17 01:55] kspook opened #68 "I got SyntaxError:Missing parentheses in call to 'print'"
Please help me.
I ran   on azure VM machine and got error message as below;
:/data/home/kspook/pixel_link$ ./scripts/test.sh 1 ~/pixel_link/conv3_3/model.ckpt-38055 ~/pixel_link/datasets/Challenge4/ch4_test_images
++set -e
++ export CUDA_VISIBLE_DEVICES=1
++ python test_pixel_link.py --checkpoint_path=/home/kspook/pixel_link/conv3_3/model.ckpt-38055 --dataset_dir=/home/kspook/pixel_link/datasets/C

[2018-10-17 07:12] pmusta opened #69 "licence?"
Hi! I was just wondering what's the licence for pixel link?
Is it ok to use the code or the pre-trained models for academic stuff or commercially?
thanks! :)

[2018-10-17 07:35] kspook commented on #68
https://wikidocs.net/16402
I solved by myself.
My phython was phython 3.
I changed phython 2.

[2018-10-18 13:16] kspook opened #70 "how can I run ./scripts/vis.sh"
please tell example of arguments.

i can't understand '--det' & '--output'

[2018-10-19 00:48] kspook commented on #70
I just ran via full command line.  I couldn't run  shell script.

[2018-10-22 09:32] MarStarck commented on #47
@greatgeekgrace 我训练到18 step的时候loss就是0了，蛋疼

[2018-10-23 02:02] #47 closed

[2018-10-23 02:03] ccnankai commented on #47
@MarStarck   我训练损失函数都降不下来

[2018-10-24 01:20] HuayueZhang commented on #36
There are two stages of training, the first one has 100 steps and then run the second one. Both learning rates are supposed to be modified by you. Maybe your second learning rate is too large.

[2018-10-24 09:25] LinnaWang76 opened #71 "为什么网络输出的score_layer = 1/4 image.shape，做像素分割不是要输出大小等于输入的么？"
难道不是为了预测每一个像素的得分么！1/4是为了什么。

[2018-10-25 02:21] CallmeZhouxiaolun opened #72 "WARNING:tensorflow:From test_pixel_link.py:110: get_or_create_global_step"
System information：tensorflow 1.90

Describe the problem:
WARNING:tensorflow:From test_pixel_link.py:110: get_or_create_global_step (from tensorflow.contrib.framework.python.ops.variables) is deprecated and will be removed in a future version.
Instructions for updating:
Please switch to tf.train.get_or_create_global_step
Please switch to tf.train.get_or_create_global_step
2018-10-25 09:46:45.38451

[2018-10-25 05:50] Simon-LLong commented on #47
很难下降不知道为啥

[2018-10-25 07:06] #71 closed, assigned to nobody

[2018-10-28 09:31] jackshaw commented on #29
Hi，@BowieHsu，can you tell me how does batchnorm influence the performance?

[2018-10-30 07:52] gachiemchiep commented on #12
@chunklarry

Worked man. Thank you

[2018-10-31 07:31] jackshaw opened #73 "Does anyone reproduce the performance with pytorch?"

[2018-10-31 20:27] kojit commented on #24
I'd like to know how to increase vertical conf_thesh and decrease horizontal conf_thresh as well. I looked into the code, but I could not find it. Anyone can help?
Thanks.

[2018-11-05 05:58] northeastsquare commented on #11
try gradient clip

[2018-11-07 03:15] northeastsquare opened #74 "Lower the learning rate gradually no use? 为什么我逐渐降低lr,对最终误差作用不大呢？"
以前训练caffe的时候使用sgd,也用了momentum了，都是逐渐降低lr,每降低一次，loss都会降很多，为什么对pixel-link 使用mementum optimizer，逐渐降低lr 作用不大呢？

**tensorflow MomentumOptimizer:**
accumulation = momentum * accumulation + gradient
variable -= learning_rate * accumulation

**caffe sgd:**
Vt+1=μVt−α∇L(Wt)
Wt+1=Wt+Vt+1

[2018-11-07 14:26] pmusta commented on #69
thanks for the license! :)

[2018-11-09 03:40] fxwispig opened #75 "why all my Bounding box (-157,-92,-101,53) is completely outside the image and will not be drawn,,and loss is 0"
![image](https://user-images.githubusercontent.com/40624193/48241625-a72ba600-e412-11e8-8b0b-31823c8a5a19.png)
![image](https://user-images.githubusercontent.com/40624193/48242028-28376d00-e414-11e8-9b33-cade02da0b04.png)

[2018-11-09 03:43] fxwispig commented on #75
![image](https://user-images.githubusercontent.com/40624193/48242076-70568f80-e414-11e8-9b15-1e99fb92d30a.png)
this is my label :left_top right_top right_bottom left_bottom label is ##### not ###

[2018-11-13 23:00] kojit commented on #24
I found that we can set each neighbour pixels threshold like:
link_conf_threshold = np.array([0.8, 0.8, 0.8, 0.45, 0.45, 0.8, 0.8, 0.8])
But I don't think we can set the link_conf_threshold vertically and horizontally.

[2018-11-14 02:00] panyan928 commented on #72
It's just a warning, because your tensorflow version is newer.
Don't care it

[2018-11-14 09:38] 13230380356 opened #76 "在icdar2013和td500训练的问题"
@dengdan  你好，能详细说一下在icdar2013和td500的训练方法吗？论文中提到icdar2013的模型是用icdar2015的模型在td500，tr400，icdar2013训练10000次得到，但是没有详细说明是将三个数据集混合后训练10000次，还是比如在td500训练3000，在tr400训练3000，在icdar2013训练4000共10000次？还有因为机器的原因，能否说一下最终的loss是降到多少就可以停止训练吗？

[2018-11-15 01:22] panyan928 opened #77 "Can you open final loss of your experiments, please?"
I'm training the model on my own datasets. Now cls loss is about 0.098, link loss about 0.62. But when I test one image, it doesn't detect any text when threshold is 0.5 and 0.5.

So can I know your training loss, please?

[2018-11-21 10:11] #77 closed, assigned to nobody

[2018-11-22 07:45] PallawiRajendra commented on #18
Hi, may I know how u solved it.

[2018-11-25 11:32] cisiwen opened #78 "Is it possible to output the text content"
the text bounding box detection works great but how to output the text content and make it useful in production.

[2018-11-30 13:39] Jacqueline720 opened #79 "关于recall和precision的计算"
好像没有在代码里看到内置的计算precision和recall的函数，想请问一下源代码作者是不是直接用了ICADR2015的recall rate、precision rate和Fmeasure的函数？

[2018-12-02 04:15] pomelo93 commented on #22
你好，请问在哪改通道啊？

[2018-12-03 11:26] CaelusZhao commented on #16
pixel_conf_threshold is the threshold to judge every pixel is text pixel or not. link_conf_threshold is the threshold to judge the 8 directions is linked or not.

[2018-12-03 12:01] CXY573 commented on #48
how can you calculate your result?

[2018-12-03 12:03] CXY573 commented on #6
@dengdan @BowieHsu  can you tell me how to evaluate the recall and pricision???

[2018-12-04 10:18] cisiwen commented on #78
got answers from stackoverflow so all good now!

[2018-12-04 10:18] #78 closed, assigned to nobody

[2018-12-07 04:24] sjakati98 opened #80 "Tiff Image Training"
Hello,

Trying to train using .tiff image data. Followed the other steps to create the tf_records correctly and create dataset config. Running into this error

`InvalidArgumentError (see above for traceback): assertion failed: [Unable to decode bytes as JPEG, PNG, GIF, or BMP]`

Does this mean I should convert my dataset into one of the above file types, or is there a way to get around it?

[2018-12-09 06:56] XiaodanLi001 commented on #21
Not really.

[2018-12-10 11:53] weijiawu opened #81 "question about labels"
ignored = util.str.contains(gt[-1], '###')
                if ignored:
                    labels.append(config.ignore_label);
                else:
                    labels.append(config.text_label)

above code is from icdar2015_to_tfrecords, labels of ICDAR2015 include '###' and some other words,why here classify text/non-text just by '###'???

[2018-12-11 05:36] XiaoYigwr commented on #48
@GodOfSmallThings @kulkarnivishal @mn7142
How did you test the results of the model?你们是阿如何检验结果的
Could you share the script?可以分享一下脚本吗
I don't konw how to do!

[2018-12-11 05:43] XiaoYigwr opened #82 "about evaluate 关于结果验证"
How did you test the results of the model?你们是阿如何检验结果的
Could you share the script?可以分享一下脚本吗
I don't konw how to do!

[2018-12-11 09:15] SungAnGweon commented on #48
@XiaoYigwr
Go to http://rrc.cvc.uab.es/?ch=4&com=mymethods&task=1 after login.
There is standalone evaluation script and it is easy to use.

[2018-12-11 09:17] GodOfSmallThings commented on #48
@XiaoYigwr Go to http://rrc.cvc.uab.es/?ch=4&com=mymethods&task=1 after login. There is standalone evaluation script and it is easy to use.

[2018-12-12 10:41] Harold-lkk commented on #27
@chintler  Could you send me a copy of 3.6 version ? I do not find guo Mingyu' suggestion.  My email is wdsd641417025@sjtu.edu.cn thanks!

[2018-12-14 06:19] Kevin-GJ opened #83 "pixel_neighbour_type"
I have tried to set pixel_neighbour_type = pixel_link.PIXEL_NEIGHBOUR_TYPE_4  at config.py,   but the reply is 'InvalidArgumentError (see above for traceback): Assign requires shapes of both tensors to match' . so could please tell me where I should modify

[2018-12-14 06:31] lgcy commented on #27
@chintler i have tried to change the code to py3.6, but i meet many problems. Could you send me a copy of 3.6 version ? My email is lgcxy@mail.imu.edu.cn. Thanks

[2018-12-15 03:11] #82 closed, assigned to nobody

[2018-12-15 16:27] DelightRun commented on #47
@ccnankai @MarStarck @EvenIsLee
Hi, all. Sorry for the late reply.
Actually I and @comzyh are both not the original author of this project, please contact @dengdan.

[2018-12-19 10:16] PeterStone007 commented on #48
standalone evaluation script is not available.  do you have other source?

[2018-12-21 11:25] Jacqueline720 opened #84 "Train on RCTW dataset"
Has anybody trained pixel_link on the RCTW-17 from scratch? When I trained this dataset on pixel_link,the model can not converge:when I adjust learning rate as 1e-2,the loss goes to nan,while the loss goes to 0 when learning rate = 1e-3.
Hope anybody have any idea about this problem~

[2018-12-21 15:40] cdsss commented on #4
When I try to do this, I get results:

正克隆到 'pylib'...
Permission denied (publickey).
fatal: Could not read from remote repository.
Please make sure you have the correct access rights
and the repository exists.
fatal: 无法克隆 'git@github.com:dengdan/pylib.git' 到子模组路径 'pylib'

can you help me solve this problem? thank you

[2018-12-26 06:08] XJinchen commented on #75
I have the same problem，did you solve it?

[2018-12-27 03:58] ICTwangbiao commented on #52
@kasyoukin Pity, I have the same problem too, have you solved this problem?

[2018-12-27 08:43] yyf7329081 commented on #49
same problem, have you solve it?

[2018-12-27 13:36] Tianxiaomo commented on #65
I have the same problem，did you solve it?Thinks.

[2018-12-27 19:28] ghost commented on #65
yes, I did

[2018-12-28 05:58] speakstone commented on #27
Have you got the python3 version of the code? Can you send me a copy of speakstone@163.com?

[2018-12-28 11:25] Tianxiaomo commented on #65
Can you tell me how to solve this problem?thanks⸜(* ॑꒳ ॑* )⸝

[2018-12-28 12:39] mahbubcseju commented on #65
@MrOCR  Will you please say something about how to use using only CPU .

[2018-12-28 12:43] ghost commented on #65
@Tianxiaomo I bought a GPU.
Because training such complex models is built for gpu.

[2018-12-28 12:43] #65 closed

[2019-01-04 03:51] jhl13 opened #85 "About the bboxes."
In the file mtwi_to_tfrecords.py, line 123.
why bboxes.append([xmin, ymin, xmax, ymax])?
I think it is bboxes.append([ymin, xmin, ymax, xmax]), because in tf.image.draw_bounding_boxes, The coordinates of the each bounding box in boxes are encoded as [y_min, x_min, y_max, x_max].
so in ssd_vgg_preprocessing.py, tf.image.sample_distorted_bounding_box return the distort_bboxes encoded as [y_min, x_mi

[2019-01-09 05:52] Jackandrome opened #86 "/home/dengdan/models/pixel_link/well_trained_models/ic15/conv3_3/model.ckpt-38055 这个地址在哪里改"
训练的时候地址项改了，但是报错tensorflow.python.framework.errors_impl.NotFoundError: /home/dengdan/models/pixel_link/well_trained_models/ic15/conv3_3;

[2019-01-09 05:54] northeastsquare commented on #85
在dataset_utils.py里面，做了对应
    example = tf.train.Example(features=tf.train.Features(feature={
            'image/shape': int64_feature(list(shape)),
            'image/object/bbox/xmin': float_feature(get_list(bboxes, 0)),
            'image/object/bbox/ymin': float_feature(get_list(bboxes, 1)),
            'image/object/bbox/xmax': float_feature(get_list(bboxes, 2)),
            'image/object/bbox

[2019-01-09 05:56] northeastsquare commented on #86
train.sh 里面：CKPT_PATH

[2019-01-09 05:59] northeastsquare commented on #81
三个#,表示忽略对应的方框，文字太不清晰，过小等

[2019-01-09 06:00] northeastsquare commented on #75
completely outside，是因为对图片做预处理，随机裁剪，把有些box，都裁掉了，猜测，你的数据给的格式可能有问题，

[2019-01-09 06:02] Jackandrome commented on #86
我没有权限用.sh文件，我是直接运行train.py的，改那里的flag发现不行，请问还有那些地方有checkpoin_path的flag

[2019-01-09 06:14] northeastsquare commented on #22
test_pixel_link_on_any_image.py
image_data = util.img.imread(file_path, rgb = True)

[2019-01-09 06:17] northeastsquare commented on #22
@tsing-cv 我觉得是，有两个变量bboxes, oriented_bboxes，第一个是存的矩形框，第二个是，四个角点坐标

[2019-01-09 06:17] northeastsquare commented on #82
test_any.sh

[2019-01-09 06:18] northeastsquare commented on #71
特征图的尺寸，是原图的1/4

[2019-01-09 07:17] northeastsquare opened #87 "decode_image_by_border no implementation"
Hello, thank you for this great work.
I test the code, find some image, decode_image_by_join, will make mistake.
So could you kindly share decode_image_by_border implementation?

[2019-01-09 13:08] qimingfeijin opened #88 "module object has no attribute io"
why?

[2019-01-09 13:10] qimingfeijin opened #89 "module object has no attribute io"
module object has no attribute io

[2019-01-10 02:02] northeastsquare opened #90 "Increase border weight, make the text box much bigger, I don't know why"
Increase border weight, make the text box much bigger, I don't know why
I change the following parameters in config.py. Increase border weight,  as a result , text box becomes much bigger, anyone can explain this:
bbox_border_width = 5
pixel_cls_border_weight_lambda = 10.0
pixel_cls_loss_weight_lambda = 2.0
pixel_link_neg_loss_weight_lambda = 1.0
pixel_link_loss_weight = 1.0
![2eeo3n u](https://us

[2019-01-10 06:57] jhl13 commented on #85
yep
but i think bboxes[0] is correspond to ymin, not xmin.

[2019-01-10 07:44] northeastsquare commented on #90
知道问题的原因了，因为两个text,间隔很小，feature map是原图的1/4,缩放后，间隔更小了，极端情况，两个textbox，是相邻的，那么一定会出问题。
这个问题的解决办法，可以用shrink box来解决，就像east里面那样。如果我后面做了shrink box ,会提交pull

[2019-01-10 10:11] Jackandrome commented on #90
如果使用多尺度的feature进行预测呢？会不会改善不同text的间隔问题

[2019-01-14 08:08] 3AceShowHand commented on #90
如果增大 pixel_cls_border_weight_lambda 这个参数的话，能否帮助减缓两行被识别成一行的问题呢？

[2019-01-15 08:49] northeastsquare commented on #63
tf_image.py  resize_image函数里面可以这样保持比例：
image = tf.image.resize_image_with_pad(image, size[0], size[1])
在test阶段：
def preprocess_for_eval(image, labels, bboxes, xs, ys,
                        out_shape, data_format='NHWC',
                        resize=Resize.WARP_RESIZE,
                        **do_resize = False,**
                        scope='ssd_preprocessing_train')

[2019-01-15 08:50] northeastsquare commented on #51
tf_image.py resize_image函数里面可以这样保持比例：
image = tf.image.resize_image_with_pad(image, size[0], size[1])
在test阶段：
def preprocess_for_eval(image, labels, bboxes, xs, ys,
out_shape, data_format='NHWC',
resize=Resize.WARP_RESIZE,
**do_resize = False,**
scope='ssd_preprocessing_train')

[2019-01-17 03:11] northeastsquare opened #91 "当文字在图片里面很小，mask又是原图的1/4,那么无法检测出来"
我测试一些图片，发现，当文字在图片里面很小，mask又是原图的1/4,那么文字是无法无法检测出来，
而CTPN是可以检测出来的。
pixel-link面对这个缺陷，该如何改进呢？

[2019-01-17 06:19] austingg commented on #91
@northeastsquare  具体有多小呢？ 是不是后处理的时候过滤掉了

[2019-01-18 07:28] northeastsquare commented on #91
嗯嗯，确实是后处理给去掉了
w,h:575*766, 文字高度11
图片没有缩放，我看到生成mask，里面有一些行的一部分被检测出来
在def mask_to_bboxes：config.min_height=10，也会把这样的给直接去掉了
另外训练的时候，config.py里面min_shorter_side = 10，把小样本都被设置成label_ignore了，

我再训练一下，最小边设置为4, 在生成一些text很小的图片，在训练了，看看结果如何

[2019-01-20 06:11] northeastsquare commented on #91
反馈一下，random scale（0.2--0.7）, pad ,生成了很多text很小的样本，训练处理后，能检测小text了
![2i4t5v l](https://user-images.githubusercontent.com/3086078/51435951-3a5c4400-1cbe-11e9-97f2-75da2d982664.PNG)

[2019-01-20 06:11] #91 closed, assigned to nobody

[2019-01-20 06:19] northeastsquare commented on #90
pixel_cls_border_weight_lambda ，我也以为增大这个变量会有助于，增大后，发现更严重了

[2019-01-22 08:10] austingg commented on #86
作者的放的checkpoint是绝对路径， 把 checkpoint的checkpoint文件里的绝对路径修改掉就可以了@Jackandrome

[2019-01-22 10:30] yangxiao5201 commented on #83
@Kevin-GJ
U should modify the training parameter "--checkpoint_path=./models/vgg_4s" to "--checkpoint_path=", because the pretrained model is trained under the config of PIXEL_NEIGHBOUR_TYPE_8. To avoid your error, remove the value of that parameter.

[2019-01-23 06:05] speakstone opened #92 "a"
Hello, may I ask where you changed the link_conf_threshold to an array, is it supposed to be a numeric value?

[2019-01-23 06:06] speakstone commented on #24
Hello, may I ask where you changed the link_conf_threshold to an array, is it supposed to be a numeric value?

[2019-01-25 03:38] Programmerwyl opened #93 "为什么最后检测的结果比较差"
检测的模型是PixelLink + VGG16 4s
当运行test_any.sh,
检测的效果比较差
![2019-01-25 02 3a32 3a35_6_](https://user-images.githubusercontent.com/22095854/51723870-aa3f4580-2095-11e9-92a8-7414db93e347.png)
![2019-01-25 02 3a32 3a38_8_](https://user-images.githubusercontent.com/22095854/51723882-b2978080-2095-11e9-9066-182bdc5ef747.png)

[2019-01-25 03:42] Programmerwyl commented on #93
采用的模型是提供的模型，不是自己训练生成的

[2019-01-27 07:56] vignesh-irtt opened #94 "OHEM doubt"
why are you making the loss negative before taking top_k losses
**vals, _ = tf.nn.top_k(-neg_conf, k=n_neg)**

[2019-01-28 06:22] northeastsquare commented on #94
neg_conf为背景像素被预测为背景的概率，为1代表确定为预测完全正确；为0代表预测错误，实际为背景像素，却被预测为了不是背景。所以这个值越低，误差越大。
所以，-neg_conf,中的top_k, 为背景像素中，预测误差最大的n_neg个。

[2019-01-28 06:23] northeastsquare commented on #93
我运行效果，很好。自己找找问题吧

[2019-01-28 06:29] northeastsquare commented on #29
Have you add dilation to the second last conv?

[2019-01-28 07:57] northeastsquare commented on #94
实际上，这里可能有个缺陷，
pos_pixel_weights_flatten 是gt里面box的像素点生成的，里面小box的pixel weight会大一点，边缘像素也大一点这样
selected_neg_pixel_mask：是背景里面，被预测为背景的像素里面，hardming 出来的。
可是背景里面被预测为正的像素，没有被计算误差。就是下面这句：
nets\pixel_link_symbol.py
pixel_cls_weights = pos_pixel_weights_flatten + \
                            tf.cast(selected_neg_pixel_mask, tf.float32)

[2019-01-28 12:33] Dgs29 commented on #70
Yes, same issue. How can I run this line:
./scripts/test_any.sh ${GPU_ID} ${model_path}/model.ckpt-xxx ${image_dir} in Windows?
Any one figured it out?

[2019-01-28 12:38] Dgs29 opened #95 "Can I use this method to detect Document text image"
Can I use implement this method for detecting text in document images, which has multiple lines of text. If yes, what changes should I make in the code.

[2019-01-28 16:03] vignesh-irtt commented on #94
sorry i thought its as the loss Thank you

[2019-01-28 16:07] vignesh-irtt commented on #94
But as per the paper u **_haven't selected the negative pixels_** while calculating the link loss
    pixel_link_weight *= np.expand_dims(pixel_cls_weight, axis = -1) doesn't seem to contain true for negative pixels
    pixel_link_label[y, x, n_idx] = 0 does it makes pos cls pixels as neg in link

[2019-01-29 02:04] nassimaNoufail commented on #95
Same question !!

[2019-01-30 02:30] jisheng047 opened #96 "Can pixel link only detect single word, not long line?"

[2019-02-01 06:15] austingg commented on #96
It's hard to say what is a word only by image content. Because, the space between character is relative.

[2019-02-01 09:13] rkshuai commented on #85
In the get_split function, it has
 'object/bbox': slim.tfexample_decoder.BoundingBox(
   ['ymin', 'xmin', 'ymax', 'xmax'], 'image/object/bbox/'),

[2019-02-04 15:03] jisheng047 commented on #96
@austingg using like ctpn can detect correct about long-lines. But i am working on scene text recognition project, include 2 phase (detect + recognition). The second phase only work with word, poor performance for long-lines. I have tried to use Seg-Link, EAST but the result is not good. @@! I just want to word partition for text. Do you have any idea to solve this problem ?

[2019-02-05 11:25] taruntechnolofies opened #97 "pixel_cls_logits_flatten and pos_mask have different dimention while calculating tf.nn.sparse_softmax_cross_entroy_with_logits"
in pixel_link_symbol.py

pixel_cls_loss = tf.nn.sparse_softmax_cross_entropy_with_logits(
                    logits = self.pixel_cls_logits_flatten,
                    labels = tf.cast(pos_mask, dtype = tf.int32))

logits and labels have different dimentions while calculating loss.
logits dim is [BATCH_SIZE, 16384, 2]
labels dim is [BATCH_SIZE, 16384]
why is it different? what is is effect on pi

[2019-02-07 16:50] nassimaNoufail commented on #27
@chintler  can you plz send me a copy of 3.6 version? My email is [nnoufail@uh.edu]. Thanks

[2019-02-11 07:04] austingg commented on #96
you may try to use higher pixel_score threshold or higher link_conf_threshold, which may be helpfuly. Moreover, you can try sequence recognition. @jisheng047

[2019-02-12 08:04] northeastsquare commented on #85
上面老兄说的对，
train_pixel_link.py里面，取object/bbox,就是rkshuai说的这句，
‘object/bbox’,顺序是ymin, xmin, ymax,xmax
`[image, glabel, gbboxes, x1, x2, x3, x4, y1, y2, y3, y4] = provider.get([
                                                         'image',
                                                         'object/label',
                                                         'object/bbox',

[2019-02-12 08:18] northeastsquare commented on #94
pixel_link_label[y, x, n_idx] = 0 这句使得，正的像素，周围有点，不是正像素，那么连接为负，

[2019-02-12 18:36] nassimaNoufail opened #98 "Test error : memory descriptor"
During the test, the following error has occurred, I don't know how to solve this problem, can you help me with it?
AbortedError (see above for traceback): Operation received an exception:Status: 3, message: could not initialize a memory descriptor, in file tensorflow/core/kernels/mkl_softmax_op.cc:164
	 [[node test/Softmax (defined at /root/PycharmProjects/pixel_link/nets/pixel_link_symbol.py:177

[2019-02-14 07:02] austingg commented on #95
nothing need to change. just replace the dataset with document images

[2019-02-14 07:04] austingg commented on #93
check for the hyper-parameter such as cls_conf_threhold, link_conf_threshold, and original image size

[2019-02-14 07:33] rkshuai opened #99 "Why ohem has negative？"

[2019-02-14 07:41] #99 closed, assigned to nobody

[2019-02-14 11:15] Dgs29 opened #100 "will this be available for windows"
Since I don't have Ubuntu, how do I implement this in Windows?

[2019-02-15 03:35] jisheng047 commented on #96
@austingg  I have tried it by increase the link_conf_threshold. The result now is better than before. I have tried sequence recognition by using ctpn (detection) and the attention ocr (recognition) previous, but the result was not good. Anyway thanks for your idea!

[2019-02-15 04:30] nassimaNoufail commented on #70
same question !!
scripts/vis.sh asks me for arguments : det and image

[2019-02-15 04:31] nassimaNoufail commented on #70
@kspook were you able to find out how to run it ??

[2019-02-18 00:11] kspook commented on #70
I mistyped. There was no problem.
Now I can't remember what I typed wrong

[2019-02-18 06:00] bdxiaoxiong commented on #27
@chintler i have same question in python3.x, no bbox return,can you please send me a python 3.x,thanks very much.  heshichao203@qq.com

[2019-02-18 09:51] jhl13 commented on #85
Thanks! i get it!

[2019-02-18 09:51] #85 closed, assigned to nobody

[2019-02-19 01:05] nassimaNoufail commented on #70
I was ablt to run it this way :
scripts/vis.sh ~/dataset/ICDAR2015/Challenge4/test1  ~/conv3_3/test/icdar2015_test/model.ckpt-38055/txt
--det is the path for dataset and --output is path for the output

[2019-02-19 02:30] nassimaNoufail commented on #96
@jisheng047 how did u do the recognition, I was able to get good results with this paper for text detection in images with long lines but I can't find the recognition part. do you have any idea how to do it?

[2019-02-19 03:01] nassimaNoufail opened #101 "Recognition of the text detcted"
does anyone know how can we get the text detected in a text file

[2019-02-19 07:13] jisheng047 commented on #96
@nassimaNoufail you can use crnn or attention for recognition. Can you modify it for single word detection ?

[2019-02-19 12:58] Dgs29 opened #102 "ValueError: You must supply the dataset directory with --dataset_dir"
How do i specify the dataset location. What is the path that I need to add?  I have downloaded ch4_test_images and ch4_training_images and stored them in dataset/ICDAR2015/Challenge4/.

As I run the test script, I get the error: ValueError: You must supply the dataset directory with --dataset_dir

[2019-02-19 13:41] #102 closed, assigned to nobody

[2019-02-19 19:05] nassimaNoufail opened #103 "Text result from Training"
Does anyone knows what represents the text files resulting from the training step??

[2019-02-20 02:18] hongminli commented on #27
How did you fix this problem? I have the same problem on python 3.5.

[2019-02-20 07:32] qimingfeijin opened #104 "中文检测"
有人用这个算法检测中文文本吗，好用吗。我用作者的模型检测中文效果不好，基本检测不到中文。

[2019-02-20 08:32] zzhanq opened #105 "对于倾斜角度比较大（大于30度）的检测效果不好"
您好，非常感谢您的分享，我用这个project训练模型，发现对于角度较大的文本行，比如文本行倾斜30度或者倾斜45度，检测效果很不好，会出现把一个斜文本检测成多个小的文本框。请问您遇到过这样的情况吗？该怎么解决这个问题呢？谢谢！

[2019-02-20 10:16] Dgs29 commented on #98
are you doing this for Document text images?

[2019-02-20 11:58] Dgs29 commented on #24
how to do localisation for multi-line text in one box..

[2019-02-20 12:37] Bachelorwangwei commented on #104
可以，效果还不错，我使用ICPR2018数据集进行了训练，能够检测出大多数中文字符，对倾斜文字检测效果也不错。

[2019-02-20 12:38] Bachelorwangwei commented on #86
linux 下在repo文件夹下， grep -r “/home/dengdan/models/pixel_link/well_trained_models/ic15/conv3_3” *
就可以看到了。

[2019-02-20 12:52] qimingfeijin commented on #104
那就好，那我改一改，非常感谢

[2019-02-20 12:57] qimingfeijin commented on #104
请问你可以分享给我这个数据集吗

[2019-02-20 13:00] Bachelorwangwei commented on #104
https://pan.baidu.com/s/1NSyc-cHKV3IwDo6qojIrKA  密码: ye9y
我是在huoyijie/AdvancedEAST项目中看到的，自己下载下来试了一下，效果还不错。阿里天池比赛的数据集，主要是一些网络图片。

[2019-02-20 17:05] Dgs29 commented on #95
@austingg Thanks. It worked. But I want to detect multiple lines of text in one word for a new dataset. What changes should I make to accordingly. Some like this.
![capture](https://user-images.githubusercontent.com/40953586/53481492-57e1b200-3aa3-11e9-994d-51709730133a.PNG)
How should I train to achieve this

[2019-02-20 17:24] Dgs29 commented on #95
@austingg also Is there any possible way regarding how to assign labels like Date, Title, etc to it?

[2019-02-21 02:02] jiaying96 opened #106 "conda env create --file pixel_link_env.txt 报错"
![image](https://user-images.githubusercontent.com/16167043/53137914-89e4a700-35bf-11e9-80bb-c5ffb9a6cdc8.png)
![image](https://user-images.githubusercontent.com/16167043/53137919-910bb500-35bf-11e9-9fde-7060d64d9fed.png)

[2019-02-21 09:54] yjfncu opened #107 "train model with gpu but gpu not busy"
when i train model use gpu on my own datasets, the training step is very slow, and use command 'nvidia-smi' see the gpu information ,it's show gpu not be used？who can help me,thank you

[2019-02-21 12:08] wangwj opened #108 "icdar2015_to_tfrecords.py error"
python  icdar2015_to_tfrecords.py
ImportError: No module named config

config 是什么库，用pip安装config好像不行

[2019-02-21 12:15] jiaying96 commented on #93
@Programmerwyl  检测效果怎么看
当./scripts/test.sh 1 model/model.ckpt-73018 datasets/test/ch4_test_images
![image](https://user-images.githubusercontent.com/16167043/53168330-5cc2e380-3615-11e9-9696-627001c5424d.png)

没有报错，但是没有找到测试结果

[2019-02-22 02:11] jiaying96 opened #109 "terminate called after throwing an instance of 'Xbyak::Error' what(): internal error"
++ python test_pixel_link.py --checkpoint_path=model/model.ckpt-73018 --dataset_dir=test --gpu_memory_fraction=-1
terminate called after throwing an instance of 'Xbyak::Error'
  what():  internal error
./scripts/test.sh: line 7: 30178 Aborted                 (core dumped) python test_pixel_link.py --checkpoint_path=$2 --dataset_dir=$3 --gpu_memory_fraction=-1

[2019-02-22 04:24] xiliu opened #110 "train image is 512*512 ,why test image is 1280*768"
hi all
train image is 512\*512 ,why test image is 1280\*768.
and in my task, test input images resized 1280\*768 get better detect result than resized 512*512
why?

[2019-02-24 01:42] snowwindy commented on #35
@mn7142 我也遇到了找不到util，是把下载下来的文件放在pylib文件夹下面吗？

[2019-02-24 01:44] snowwindy commented on #23
@pymia @dajiangxiaoyan 我遇到了同样的问题，没解决，还是说找不到util

[2019-02-24 01:48] snowwindy commented on #27
@chintler Could you send me a copy of 3.6 version ?  My email is (1224394701@qq.com) thanks!

[2019-02-25 02:47] jiaying96 opened #111 "结果没有显示在存放测试图片的文件夹"
./scripts/test_any.sh 1 model/2s/model.ckpt-73018 test
结果图片不在test文件夹，而是

![image](https://user-images.githubusercontent.com/16167043/53311120-941de280-38ea-11e9-8b95-b38e8d86b8fb.png)

而且颜色变化
按照作者所说，结果应该直接在存放测试图片的文件夹test中，是出错了吗

[2019-02-25 07:40] jiaying96 commented on #79
@Jacqueline720  有结果了吗，同遇到问题

[2019-02-25 08:39] snowwindy commented on #111
我的也是这样，保存的图片只有颜色的变化，没有检测框

[2019-02-25 09:28] Dgs29 commented on #106
execute the command after heading into pixel_link_root directory

[2019-02-25 09:33] Dgs29 commented on #96
@jisheng047 @austingg  where inside the code should I increase pixel_score threshold / link_conf_threshold and to what value or above should I set it?

[2019-02-25 12:55] austingg commented on #96
@DGS  There are threshold argument in the test_pixel_link.py file

[2019-02-25 17:05] Dgs29 opened #112 "How to detect multi-line text in a bounding box?"
I am training for a new document text images dataset. I need to detect multiple texts in a bounding box something like this:
![capture](https://user-images.githubusercontent.com/40953586/53354543-ff000580-394c-11e9-9103-d80961c9195d.PNG)

What are the parameters that I need to change in order to achieve this?

[2019-02-26 03:26] #111 closed, assigned to nobody

[2019-02-26 03:28] snowwindy commented on #111
@jiaying96 你好，我想问一下，你的这个问题解决了吗？怎么解决的

[2019-02-26 03:29] jiaying96 commented on #104
@qimingfeijin
我用2s的模型检测到的是
![image](https://user-images.githubusercontent.com/16167043/53385532-a7e44a00-39b9-11e9-85aa-2c86d24569a6.png)
论文中的是
![image](https://user-images.githubusercontent.com/16167043/53385544-b599cf80-39b9-11e9-89d9-345c2c19a014.png)

有遇到相同的问题吗

[2019-02-26 05:23] Dgs29 commented on #112
@austingg can you answer this question

[2019-02-26 18:08] Dgs29 commented on #96
@austingg .. I 've increased it to pixel_conf_threshold & link_conf_threshold to 0.9. and the result is same, it only detects word by word . If I increase it past 1.0 it doesn't seem to work..

[2019-02-27 05:50] Dgs29 commented on #24
@dajiangxiaoyan how did you re-train your model inorder to detect multi-line in one box. What are the changes needed to be made to achieve that?

[2019-02-27 06:06] Dgs29 opened #113 "How to create tfrecord for your own model?"

[2019-02-27 07:18] #113 closed, assigned to nobody

[2019-02-27 07:27] Dgs29 commented on #104
@jiaying96 这是ICDAR 2015

[2019-02-27 08:31] Dgs29 opened #114 "How to create localization transcript for other datasets"
I want to create a localisation transcript for my dataset(train & test). How can I do that?

[2019-02-27 09:40] Dgs29 commented on #50
@mn7142 how did you prepare ground truth co-ordinates for your dataset

[2019-02-28 01:52] jiaying96 commented on #104
@Dgs29 什么意思  这是TD500数据集的图片   是不是给的模型是icdar2015，不适用与TD500？

[2019-02-28 01:55] jiaying96 commented on #111
@snowwindy 解决了
执行    ./scripts/test.sh 1 model/2s/model.ckpt-73018 test
生成  zip:model/2s/test/icdar2015_test/model.ckpt-73018/model.ckpt-73018_det.zip
将model.ckpt-73018_det.zip解压放在det文件夹下
执行：scripts/vis.sh test det
test为图片路径  det为txt路径(将zip文件解压后txt放入det文件夹)

[2019-02-28 01:57] jiaying96 commented on #106
@Dgs29  进入根目录执行的也不行，后来就自己装环境了，没有用这个命令，你用这个命令可以吗？

[2019-02-28 01:58] jiaying96 commented on #108
![image](https://user-images.githubusercontent.com/16167043/53535916-5c5ba880-3b3f-11e9-9615-82e6ee1c22ba.png)
config在这

[2019-02-28 02:05] wangwj commented on #108
@jiaying96  谢谢、已经发现

[2019-02-28 02:05] #108 closed, assigned to nobody

[2019-02-28 02:22] jiaying96 opened #115 "File not found:/pixel_link-master/dataset/ICDAR2015/Challenge4/ch4_training_images/img_9312.jpg"
![image](https://user-images.githubusercontent.com/16167043/53536541-c83f1080-3b41-11e9-9a81-3401386d7c06.png)

执行python  icdar2015_to_tfrecords.py
有这个文件却找不到  是因为数据集大吗

[2019-02-28 12:39] qimingfeijin commented on #104
@Bachelorwangwei 你好，我用了这个数据集，转化为.tfrecord文件后训练时出现了标签超出边界像素的问题，请问你有遇到吗

[2019-02-28 12:41] qimingfeijin commented on #104
@Bachelorwangwei 你好，我用了这个数据集，转化为.tfrecord文件后训练时出现了标签超出边界像素的问题，请问你有遇到吗

[2019-02-28 13:02] jiaying96 commented on #104
@qimingfeijin
转为 tfrecord文件后训练时候出现InvalidArgumentError (see above for traceback): Invalid JPEG data, size 345317，你有遇到过吗

![image](https://user-images.githubusercontent.com/16167043/53568067-0406c400-3b9c-11e9-9f29-ce414f70f3ce.png)

[2019-02-28 13:29] jiaying96 commented on #104
@Bachelorwangwei  您在用ICPR2018数据集进行训练的时候更改train.sh和config.py的参数了吗

[2019-02-28 14:24] Bachelorwangwei commented on #104
@qimingfeijin 我训练的时候也遇到了同样的问题，当时没有处理，可能是由于图片的问题导致的。我的理解是，如果boxes超出了边界，这些图片将不会被用作训练，所以就没有处理。训练了21w步左右，得到的模型预测结果已经很好了，大多数都能正确检测到。
关于具体的这个问题，我参考了 https://github.com/deepthinking-qichao/EAST_ICPR2018 中的方法，这个仓库里面有转换好的数据集，你可以重新下载。或者按照他的方式转换。 ps：但是也会出现少量的超出边界图片。

[2019-02-28 14:25] Bachelorwangwei commented on #104
@jiaying96  参数我都没有修改。按照作者的默认参数执行的。

[2019-03-01 01:34] qimingfeijin commented on #104
@jiaying96 训练图片是JPG格式的，程序里可以找到更改的地方

[2019-03-01 07:33] qimingfeijin commented on #104
tensorflow.python.framework.errors_impl.InvalidArgumentError: All bounding box coordinates must be in [0.0, 1.0]: -0.00055
@Bachelorwangwei你好，我的报错是这个，请问我该解决这个问题，图片的标签错了的话，我怎么在程序中改让他跳过这个图片呢？

[2019-03-01 08:42] jiaying96 commented on #104
@qimingfeijin
参考https://blog.csdn.net/m0_37052320/article/details/80358660

[code]

我是这么解决的，cv2.imread读取，cv2.imwrite写入，我认为这就能保证是真正的jpg

[2019-03-01 08:45] jiaying96 commented on #104
@qimingfeijin
我是按照这个解决的
 https://github.com/ZJULearning/pixel_link/issues/7
![image](https://user-images.githubusercontent.com/16167043/53626654-4fbf7900-3c41-11e9-9292-7556376f79e9.png)

[2019-03-01 08:52] jiaying96 commented on #104
@qimingfeijin
你有遇到这个问题吗
https://github.com/ZJULearning/pixel_link/issues/115

[2019-03-01 10:42] qimingfeijin commented on #104
我有遇到，但是是因为执行时是在这个文件下，根目录就不用写这个文件夹的路径

[2019-03-01 11:19] #115 closed, assigned to nobody

[2019-03-01 13:26] jiaying96 commented on #104
@Bachelorwangwei

您说到https://github.com/deepthinking-qichao/EAST_ICPR2018 中的方法，这个仓库里面有转换好的数据集，可是没有找到，转换好的数据集能分享一下吗，邮箱 houjiaying96@163.com

[2019-03-10 04:36] netpcvnn opened #116 "Export model for tensorflow serving"
Hi,
Anyone has tried to export the Pixel link model for Tensorflow serving?

[2019-03-12 03:04] alpace commented on #106
没有指定目录吧，我的可以运行

[2019-03-12 08:55] zhaopeng0103 commented on #27
@chintler Can you send me a copy of 3.6 version? My email is (424107420@qq.com). Thanks a lot!

[2019-03-13 03:04] jiaying96 commented on #104
@Bachelorwangwei  我发现icpr2018与icdar2015坐标点顺序是不一致的，icpr2018是左上点开始,逆时针方向，但icdar2015是左上点开始，顺时针方向，当我调整icpr2018坐标点顺序与icdar一样，训练第十步loss=0，请问您知道原因吗

[2019-03-13 03:34] Strivejh commented on #79
请问你找到结果了吗？现在我也遇到同样的问题！

[2019-03-13 06:53] jiaying96 commented on #106
@alpace 怎么制定目录 能详细说一下吗

[2019-03-13 12:12] alpace commented on #106
@jiaying96 直接在pixel_link_nev.txt路径下执行就可以了

[2019-03-13 12:26] alpace opened #117 "problems with converting the dataset to tfrecords files"
NotFoundError: icdar2015_train.tfrecord

[2019-03-14 04:57] sshkhr commented on #115
I'm getting a similar issue while running on a folder of images. The file is present but gives IOError. How did you resolve this ?

[2019-03-14 14:31] jiaying96 opened #118 "icdar2015_to_tfrecords.py 代码不理解"
![image](https://user-images.githubusercontent.com/16167043/54364898-caa87b00-46a8-11e9-969b-cfc392d7c0f7.png)

请问([w, h] * 4) 什么意思，这句代码是为了什么

[2019-03-16 01:56] alpace opened #119 "training error with gpu"
INFO:tensorflow:using moving average in training,         with decay = 0.999900
2019-03-16 09:41:40.360501: W tensorflow/core/platform/cpu_feature_guard.cc:45] The TensorFlow library wasn't compiled to use SSE4.1 instructions, but these are available on your machine and could speed up CPU computations.
2019-03-16 09:41:40.360536: W tensorflow/core/platform/cpu_feature_guard.cc:45] The TensorFlow l

[2019-03-17 05:30] alpace commented on #119
I tensorflow/core/common_runtime/simple_placer.cc:669] Ignoring device specification /device:GPU:0 for node 'clone_0/fifo_queue_Dequeue' because the input edge from 'icdar2015_prefetch_queue/prefetch_queue/fifo_queue' is a reference connection and already has a device field set to /device:CPU:0

Does anybody have this problem?

[2019-03-17 06:47] alpace commented on #10
2019-03-16 09:41:40.475868: I tensorflow/core/common_runtime/gpu/gpu_device.cc:887] Found device 0 with properties:
name: Quadro M2000
major: 5 minor: 2 memoryClockRate (GHz) 1.1625
pciBusID 0000:04:00.0
Total memory: 3.95GiB
Free memory: 2.79GiB
2019-03-16 09:41:40.475916: I tensorflow/core/common_runtime/gpu/gpu_device.cc:908] DMA: 0
2019-03-16 09:41:40.475930: I tensorflow/core/common_runtime/g

[2019-03-17 06:48] alpace commented on #6
2019-03-16 09:41:40.475868: I tensorflow/core/common_runtime/gpu/gpu_device.cc:887] Found device 0 with properties:
name: Quadro M2000
major: 5 minor: 2 memoryClockRate (GHz) 1.1625
pciBusID 0000:04:00.0
Total memory: 3.95GiB
Free memory: 2.79GiB
2019-03-16 09:41:40.475916: I tensorflow/core/common_runtime/gpu/gpu_device.cc:908] DMA: 0
2019-03-16 09:41:40.475930: I tensorflow/core/common_runtime/g

[2019-03-17 16:13] BowieHsu commented on #6
@alpace looks like your cudnn raise to error, maybe your GPU mem is not large enough, can you set batch_size smaller or change to Pascal or higher level Nvidia GPU?

[2019-03-18 05:04] alpace commented on #6
@BowieHsu thank you so much, solved it !

[2019-03-18 05:12] #119 closed, assigned to nobody

[2019-03-18 05:12] #117 closed, assigned to nobody

[2019-03-18 07:09] alpace commented on #7
@small-wong can you provide the icdar2017 dataset ?

[2019-03-18 07:19] alpace commented on #36
why need two stages of training and there is no number_of_steps of the secend.

[2019-03-18 07:54] small-wong commented on #7
@alpace  Sorry, I have not worked on this project for a long time and I did not save the dataset. May be you can search that on Google. Good luck for you~

[2019-03-19 06:00] Tanmay-Jaiswal commented on #106
Rename the file

 to

Then simply change the command ``conda env create --file pixel_link_env.txt`` to `conda env create --file pixel_link_env.yml`

Conda prefers yml over txt. Even though the content of the txt file is in yml format, conda needs the right extension

[2019-03-20 03:27] Elsanna commented on #4
在服务器运行程序没有问题，但是在本地Pycharm上面就报importError: No module named util，求解答是什么原因

[2019-03-27 09:25] tonyma666 commented on #118
坐标归一化呀，复制[w, h]四次，然后八个坐标做一个element-wise的坐标归一化操作

[2019-04-02 07:07] patrakeeva commented on #27
@chintler Could you send me a copy of 3.6 version? My email is (patrakeevamariya@mail.ru). Thanks a lot!

[2019-04-03 05:38] yhyaaln opened #120 "NotFoundError : /*/pixel_link-master/ch4_training_images/icdar2015_train.tfrecord"
When i run the"./scripts/train.sh 0,1,2 8",
i got one error that conld not run continuously.

"**
File "/home/yhy/anaconda2/envs/pixel_link/lib/python2.7/site-packages/tensorflow/python/framework/op_def_library.py", line 768, in apply_op
    op_def=op_def)
  File "/home/yhy/anaconda2/envs/pixel_link/lib/python2.7/site-packages/tensorflow/python/framework/ops.py", line 2336, in create_op
    origin

[2019-04-03 08:46] lanma901106 commented on #27
@chintler Could you send me a copy of 3.6 version? My email is (15072393357@163.com). Thanks a lot!

[2019-04-03 13:44] pmusta opened #121 "cannot finetune: empty boxes"
I'm trying to finetune the model with my own data from the provided pretrained model checkpoint model.ckpt-73018,
but getting this weird issue: First (until about 500 steps) the model seems to find only windows, doors etc. large shapes (occasional large text boxes too) and also keeps predicting the whole image as a box. After that, it stops giving me any predictions (trying with lower pixel confid

[2019-04-03 13:57] pmusta commented on #121
I'm trying to finetune the model with my own data from the provided pretrained model checkpoint model.ckpt-73018,
but getting this weird issue: First (until about 500 steps) the model seems to find only windows, doors etc. large shapes (occasional large text boxes too) and also keeps predicting the whole image as a box. After that, it stops giving me any predictions (trying with lower pixel confid

[2019-04-08 18:15] tienvinh0604 commented on #27
@chintler Could you send me a copy of Pixellink for 3.6 version? My email is (tienvinh0604@gmail.com). That would be really great for me. Thanks a lot.

[2019-04-09 22:14] LavenderMP commented on #27
Could you send me a copy of Pixellink for 3.6 version? My email is (hvhnk1993@gmail.com). That would be really great for me. Thanks a lot.
glad to heard from you

[2019-04-10 02:04] Longyanaddress opened #122 "training issue....."
INFO:tensorflow:using moving average in training,         with decay = 0.999900
INFO:tensorflow:Ignoring --checkpoint_path because a checkpoint already exists in /home/longyan/OCR/ocr-data/icdar2015/log/
2019-04-10 09:57:09.416707: W tensorflow/core/platform/cpu_feature_guard.cc:45] The TensorFlow library wasn't compiled to use SSE4.1 instructions, but these are available on your machine and could

[2019-04-10 10:03] bajarno opened #123 "Validation Method"
What validation method is used to select the model for which results are reported on the ICDAR2015 test set?

I was unable to find how a model is selected while reading the paper and looking through the source code. It seems like the complete training set is used for training, so no data is left for a separate validation set.

I am trying to reproduce the results using PyTorch. My model is perform

[2019-04-10 12:00] vdsprakash commented on #107
os check the os.environ["Visible Devices"]..

[2019-04-12 01:00] ligw0329 opened #124 "怀疑regularization_loss = tf.add_n(tf.get_collection(tf.GraphKeys.REGULARIZATION_LOSSES))"
没看到有正则损失，为什么会把这个regularization_loss代入总损失进行训练？

[2019-04-12 01:28] #124 closed, assigned to nobody

[2019-04-12 01:28] ligw0329 commented on #124
我已经找到了

[2019-04-12 03:06] Elsanna opened #125 "About other datasets"
你好，请问使用其他数据集的话都必须将其转为tfrecords格式吗？

[2019-04-12 03:09] Elsanna commented on #125
补充一下，使用其他数据集进行训练

[2019-04-14 14:11] GUAIHAIZI commented on #27
@chintler  Could you send me a copy of 3.6 version ? My email is (13263509301@163.com) thank you so much!

[2019-04-15 05:20] guo commented on #27
Hello friends, could you please stop mentioning me in the thread? I have muted many times; but still keep getting notified. Thanks!

[2019-04-16 06:15] ganliqiang commented on #122
do you solve this problem  i meet the same issue

[2019-04-17 11:57] Elsanna commented on #79
是的，直接用ICDAR2015官方提供的脚本

[2019-04-23 14:49] snowwindy opened #126 "调试好的代码"
这个代码我调试了好久，util的问题一直没有解决，想问各位大佬，有没有调试好的代码，分享一下

[2019-05-02 14:31] alpace commented on #11
Have you solved it?

[2019-05-04 09:07] PoonamZ opened #127 "how to convert checkpoints into .pb file"
Anyone knows, how to convert checkpoint file into the .pb file format.

[2019-05-04 13:10] Elsanna commented on #120
我也有相同的错误。。。

[2019-05-06 07:31] nguoer121 commented on #126
添加环境变量即可

[2019-05-07 06:30] nguoer121 commented on #90
bbox_border_width = 5这个值设置太大感觉是变严重的原因

[2019-05-08 06:53] Serissa commented on #126
怎么添加环境变量？

[2019-05-09 02:53] Elsanna opened #128 "关于训练Loss"
训练过程中，Loss会在2-3之间浮动，这样是正常的吗？

[2019-05-09 09:32] Adhders opened #129 "为何找不到框"
我即使用sample里的图片进行测试，也没有任何框检测出来，程序运行正常啊，请问哪里出了问题？

[2019-05-09 10:29] Adhders opened #130 "fail on the icdar2015 datasets"
It can run normally ,but there is't any result for icdar2015, when I use the command of " ./scripts/test.sh 1  ./model/conv3_3/model.ckpt-38055  ./datasets/ch4_test_images "

[2019-05-14 12:18] Adhders opened #131 "我用python3试了，问题好多，楼主能升级下支持python3吗"

[2019-05-15 07:05] BryceXu90 commented on #128
@Elsanna 你好，我现在也遇到这个问题，不知道怎么解决，请问你解决了吗？

[2019-05-15 08:34] BryceXu90 commented on #45
@lijun20 你好，你后来解决这个问题了吗

[2019-05-15 08:37] BryceXu90 commented on #44
@kulkarnivishal 你好，这个问题是怎么解决的呢，我现在跑了20000多step，loss一直是2.3--2.4，一直没有改善，不知道怎么办

[2019-05-17 07:12] Elsanna commented on #128
训练过程中打印的Loss是模型整体的loss，浮动属于正常情况，建议看模型的最终结果（如R,P,F值）。实验证明，迭代10万次的效果要好于4万次的效果，虽然从Loss上来看没什么差别。

[2019-05-17 07:37] BryceXu90 commented on #128
@Elsanna 好的，那我就只有试试了，我用的缩小一倍的特征图，这个损失应该是正负分类损失+正样本点连接损失，然后再平均到每个参与计算的正负样本点上。我试过负样本点全部参与计算，不是正样本点的3倍来计算，损失就在1.5-2之前跑；然后负样本点改成正样本点的3倍，慢慢的又回到2-3之间，偶尔会回到2以下，我想可能损失不下降的原因，是每次参与计算损失的负样本点都是选的分类损失最大的点来参与的。
能留个联系方式吗我的邮箱308285444@qq.com 因为我把代码改成python3版本了，我就怕哪里改错了，一直觉得损失不下降，可能是改错什么的

[2019-05-18 06:24] KSK-korea commented on #27
@chintler  Could you send me a copy of 3.6 version ? My email is (tacgt@naver.com) thank you so much!

[2019-05-22 04:00] baby313 commented on #131
我修改了一版，支持python3，已经给楼主提了PR。急用的话，可以看这里：[pixel_link_py3](https://github.com/ZJULearning/pixel_link/pull/132)

[2019-05-23 08:58] fujingling opened #133 "后处理速度很慢"
后处理速度比EAST慢太多了
pixel_link.decode_batch(pixel_pos_scores, link_pos_scores)[0, ...]这个方法太耗时了，有没有什么改进方法吗？

[2019-05-24 15:06] jeonds1127 commented on #27
@chintler Could you send me a copy of 3.6 version ? My email is (jeonds1127@naver.com) thank you so much!

[2019-05-29 18:48] msds18004 opened #134 "Not drawing a single box after training from scratch on ICDAR-2015"
I trained my new model on ICDAR-2015 by training for 1st 100 steps with 0.001 learning rate and rest at 0.01 learning rate but after around 20000 iterations, it is not drawing even a single bbox on test images.

Also, the image size in train.sh is set to 512x512,  do I need to change image size in train.sh to 1280x720 as the ICDAR images are of this size, also their annotations are according to th

[2019-06-03 04:42] VadymBezdushnyi commented on #134
Got the same issue. The predicted mask is just zeros

[2019-06-03 06:52] hxk11111 opened #135 "Gpu memory-usage 6G, But Gpu-Util is 0%"
I tried to train and test using train.sh and test.sh, my gpu memory usage seems normal, but the volatile gpu util is always 0%, and the testing process is ridiculous slow. Could anybody give me some hint? Thanks!
`+-----------------------------------------------------------------------------+
| NVIDIA-SMI 396.45                 Driver Version: 396.45                    |
|-------------------------

[2019-06-04 09:54] HoracceFeng commented on #84
Hi @Jacqueline720, have you solved this problem?  In the source code, the image will be cropped to 512 while the images in RCTW dataset are dramatically larger, like 2000-3000 per edge. I have done some modification to make the whole image resize and put into training. But then I get the 'nan loss' once lr=1e-3.

Hi author @dengdan, would you give me some suggestions?
Thx

[2019-06-06 03:06] xbpgithub commented on #126
我也遇到了util的问题，解决不了，网上几乎搜不到关于这个的问题，大佬能详细说一下嘛

[2019-06-06 03:08] Serissa commented on #126
我没有搞定。

------------------ 原始邮件 ------------------
发件人: "xbpgithub"<notifications@github.com>;
发送时间: 2019年6月6日(星期四) 中午11:07
收件人: "ZJULearning/pixel_link"<pixel_link@noreply.github.com>;
抄送: "六月雪★"<370443976@qq.com>;"Comment"<comment@noreply.github.com>;
主题: Re: [ZJULearning/pixel_link] 调试好的代码 (#126)

我也遇到了util的问题，解决不了，网上几乎搜不到关于这个的问题，大佬能详细说一下嘛

—
You are receiving this because you commented.
Reply

[2019-06-06 07:21] nguoer121 commented on #126
export PYTHONPATH=你的路径/pixel_link/pylib/src/util:你的路径/pixel_link/pylib/src
这样添加就可以

[2019-06-14 07:44] HoracceFeng commented on #84
Problem Solved. Many Questions are actually because of the TFrecords converter and mismatch of tf.summary.image(bounding_box). Will do a pipeline code for text segmentation later.

[2019-06-17 21:23] mattroos opened #136 "tf.contrib.slim.learning.train() relationship between batch size, steps, and epochs?"
I'm having trouble finding answers to this in the TF documentation or code. What is the definition of a 'step' in the context of tf.contrib.slim.learning.train()? The ICDAR2015 dataset has 1000 training images. Does a step mean that 1000 images were processed (an 'epoch,' in most people's terminology)? Or that a single batch (e.g., 3*24 in the Pixel Link paper) was processed? Or something else?

R

[2019-06-19 12:57] mattroos commented on #136
Speculating on an answer to my own question, based on the [docstring](https://github.com/tensorflow/tensorflow/blob/508f76b1d9925304cedd56d51480ec380636cb82/tensorflow/contrib/slim/python/slim/learning.py#L586) for the train() function, a ```step``` is a gradient step, e.g., one update of the parameters based on the loss for a batch. So to get training somewhat equivalent to 100 steps on 3 GPUs at

[2019-06-19 13:33] #136 closed, assigned to nobody

[2019-06-20 21:17] mattroos commented on #38
I'm not affiliated with the authors, but I did run their training code and plot the loss curve. I also did a training run that started with their pretrained model. Both are for the "PixelLink + VGG16 2s" model.

### Here is what I got when training from scratch.
The loss was still decreasing when I stopped it, but was at about 0.76.

*Some caveats:*
Deng et al. trained with 3 GPUs, 24 images/GPU,

[2019-06-20 21:47] mattroos commented on #38
@dengdan, I suggest closing this.

[2019-07-12 13:59] anzhizh commented on #27
Hello friends, excuse me, Could you send me a copy of 3.6 version ? My email is (1300157732@qq.com), I need it badly, thank you so much!

[2019-07-12 14:00] anzhizh commented on #27
@chintler Hello friends, excuse me, Could you send me a copy of 3.6 version ?  I need it badly, My email is (1300157732@qq.com) , thank you so much!

[2019-07-17 03:43] Pro-flynn commented on #107
Hello! Have you solved this issue yet? I met the same issue : i have put the CUDA_VISIBLE_DEVICES=0 before python train_pixel_link.py in scripts/train.sh . But i found that this program was running in CPU with 500%CPU, and the gpu was not busy.

[2019-07-17 03:44] Pro-flynn commented on #107
if you have sloved this problem, could you give me some tips about this issue? thanks!

[2019-07-17 03:46] Pro-flynn commented on #107
@yjfncu

[2019-07-17 03:57] Pro-flynn opened #138 "为什么程序会在CPU上跑？"
在我自己的数据上运程序时 为什么只会在CPU上运行呢 发现用了550%的CPU 而 gpu才用了150M
希望以前踩过这个坑的人 能够提示一下  谢谢！！

下面是我 /scripts/train.sh 的中设置

set -x
set -e
export CUDA_VISIBLE_DEVICES=0
IMG_PER_GPU=32

TRAIN_DIR=$/pixel_link_info

OLD_IFS="$IFS"
IFS=","
gpus=($CUDA_VISIBLE_DEVICES)
IFS="$OLD_IFS"
NUM_GPUS=${#gpus[@]}

BATCH_SIZE=`expr $NUM_GPUS \* $IMG_PER_GPU`

DATASET=thaiid
DATASET_DIR=$/tmp

CUDA_VISIBLE_DEVICES=0 python train

[2019-07-17 08:22] #138 closed, assigned to nobody

[2019-07-18 07:51] Pro-flynn commented on #129
请问这个问题你解决了吗 我也遇到了这个问题
我最近我训练我自己的数据 训练时的看loss还收敛的很好 但在测试时 保存的txt中却什么都没有。。。
如果你已经解决了 能够给些解决问题的提示吗
谢谢

[2019-07-18 07:55] Pro-flynn commented on #134
Have you solved this issues?
if you have solved, could you give me some tips?
Thanks！

[2019-07-18 13:42] Adhders commented on #129
我在python3下已经解决了，我猜你一定是在python3 下运行的吧。 在pixel_link.py 这个文件中cal_gt_for_single_image中有用到zip的地方，python2和python3 的zip 不同，在用到zip 的地方外面加个list，bbox_points =list(zip(bbox_xs, bbox_ys))

[2019-07-23 03:51] yhpwsid commented on #75
did you solve the problem?

[2019-07-23 07:00] yhpwsid commented on #75
did you solve the problem?

[2019-07-23 10:09] Pro-flynn commented on #129
感谢你的提示啊
我改了cal_gt_for_single_image中所有用到zip的地方 测试时还是没有框啊 那些txt都是空的 从训练的loss来看还是收敛的较好的
请问你还改了其他地方吗 如果有 还请赐教
xiexie

[2019-07-23 10:41] Adhders commented on #129
其它地方我忘了，还有个地方要int()处理下，忘记哪里了。我教你个方法以后遇到这种问题怎么做。用python2运行是没问题的，你开两个终端，一个运行python2，一个运行python3然后判断对应函数的输出是否一致，自下而上。我就是这么搞好的。

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: Shufflewave <notifications@github.com>
发送时间: 2019年7月23日 18:09
收件人: ZJULearning/pixel_link <pixel_link@noreply.github.com>
抄送: junbo <1094587585@qq.com>, Author <author@noreply.github.com>
主题: 回复：[ZJULearning/pixel_l

[2019-07-24 02:31] yhpwsid commented on #84
does the loss have anything to do with tf.summary.image? how did you solve the loss problem? thanks

[2019-07-24 09:00] yhpwsid commented on #30
did you solve the problem?

[2019-07-25 15:09] jisheng047 opened #140 "Get problem on pixel weight matrix"
Hi everyone, i have read the PixelLink paper, but in a part of loss on pixel. Author use instance-balance cross entropy loss, and he said that

In detail, for a given image with N text instances, all instances are treated equally by giving a same weight to everyone of them, denoted as B_i in Equ. 2. For the i-th instance with area = S_i, every positive pixels within it have a weight of w_i = B_i /

[2019-07-25 16:01] #140 closed, assigned to nobody

[2019-07-29 12:34] lyc6749 opened #141 "运行vis.sh出现问题"
![image](https://user-images.githubusercontent.com/33708958/62048755-3a766700-b240-11e9-9d80-01406cea1582.png)

[2019-08-01 00:57] jisheng047 opened #142 "My CPU using 100%"
I have put gpu id in my training command. And the training using fully my gpu. After that, it using my cpu 100%. Can anyone face this problem? I need help. Thanks you!

[2019-08-01 02:59] jisheng047 commented on #142
In the phrase: 2019-08-01 09:57:23.847939: W tensorflow/core/kernels/draw_bounding_box_op.cc:122] Bounding box (-853,95,-728,254) is completely outside the image and will not be drawn.
and tensorflow global step:
It makes cpu 100%, I think the reason come from preprocessing phrase

[2019-08-01 04:00] jisheng047 commented on #142
![Screenshot from 2019-08-01 11-00-08](https://user-images.githubusercontent.com/46754815/62264785-98c36580-b44b-11e9-9969-de2955cac054.png)

[2019-08-01 04:33] jisheng047 commented on #135
My process using fully gpu but it also using fully cpu. I don't know the reason.

[2019-08-01 07:36] jisheng047 commented on #138
How can you solved this problem? Please help me

[2019-08-01 09:05] jisheng047 commented on #107
Had you solved this problem? My CPU boost up 5600% @@!. That's crazy

[2019-08-01 09:26] Pro-flynn commented on #138
i had sloved this issue
To slove it, you could check the whether cuda and cdunn  are in your bashrc

---原始邮件---
发件人: "JiSheng"<notifications@github.com>
发送时间: 2019年8月1日(星期四) 下午3:36
收件人: "ZJULearning/pixel_link"<pixel_link@noreply.github.com>;
抄送: "State change"<state_change@noreply.github.com>;"Shufflewave"<295171504@qq.com>;
主题: Re: [ZJULearning/pixel_link] 为什么程序会在CPU上跑？ (#138)

How can you solve

[2019-08-01 09:43] VinhNguyen309 opened #143 "Full GPU, CPU"
Hi,
I use your's code to train with my dataset, it's about 200 images, but i don't know why I train 120 steps with batch size 8, GPU(11G) full after CPU full. How can i slove it.
Thanks

[2019-08-01 12:42] jisheng047 commented on #138
@Pro-xiaowen Are you using conda environment? In my case, after used fully 20GB GPU, the code also used fully CPU. And i don't know why?

[2019-08-06 10:32] Pro-flynn commented on #138
spelling mistake . i suggect you check your cuda and cudnn environment. Since your experiments have used full gpu, maybe your condition are normal.

---原始邮件---
发件人: "JiSheng"<notifications@github.com>
发送时间: 2019年8月1日(星期四) 晚上8:42
收件人: "ZJULearning/pixel_link"<pixel_link@noreply.github.com>;
抄送: "Mention"<mention@noreply.github.com>;"Shufflewave"<295171504@qq.com>;
主题: Re: [ZJULearning/pixel_link] 为

[2019-08-06 11:26] jisheng047 commented on #138
@Pro-xiaowen the problem come from its also using fully my CPU too. Have you face this problem?

And I have another question, after about 3000 iterations, my loss is approximate at 0.5 - 0.6 (pretrained model is PixelLink VGG 2s) and its not drop down anymore. @@!.
Have you trained successfully?
Would you give me some advice, or idea to get out of this situation?

[2019-08-06 12:27] Pro-flynn commented on #138
i do not konw the reason why the CPU was full in your experoments.
About loss, you can use different learning rate setting, for example, expoentital_decay of learning rate . Different optimizer may output different performance.
After above adjustment, the convergence loss is 0.4 around when i train pixellink using my own data in 40K interations. and the recall of test data is 97％ icdar 2013 evalut

[2019-08-08 07:54] jisheng047 commented on #5
@GodOfSmallThings At the time you reaching the result of 83.7%, Can you share the loss? I still get around 0.4-0.5 and when i used model to predict, it predict empty box.

[2019-08-08 15:55] jisheng047 opened #144 "Loss around 0.4 ~0.5, and predict empty box"
After training about 20k iters, my loss still around 0.4 ~ 0.5. And pick up the model to predict, what i receive is empty box?

Can anyone know how to fine tune the model? Please help me out this problem, thanks you

[2019-08-09 06:41] jisheng047 commented on #138
@Pro-xiaowen my loss is 0.4 around, but detect empty box and i don't know why @@!

[2019-08-09 09:39] Doan-Nguyen commented on #11
i fixed problem, set learning_rate = 1e-3 in 100 step & learning_rate = 1e-4.

[2019-08-12 04:04] jisheng047 commented on #138
@Pro-xiaowen Can you share how you setup the dataset?. I think may be the problem come from my dataset.

[2019-08-12 07:15] Pro-flynn commented on #138
i imitate the synthtext_to_tfrecords.py to set my tfrecords.
you can have a try

---原始邮件---
发件人: "JiSheng"<notifications@github.com>
发送时间: 2019年8月12日(星期一) 中午12:04
收件人: "ZJULearning/pixel_link"<pixel_link@noreply.github.com>;
抄送: "Mention"<mention@noreply.github.com>;"Shufflewave"<295171504@qq.com>;
主题: Re: [ZJULearning/pixel_link] 为什么程序会在CPU上跑？ (#138)

@Pro-xiaowen Can you share how you setup the

[2019-08-12 08:16] jisheng047 commented on #138
@Pro-xiaowen  Thanks you for sharing. I will try it.

[2019-08-12 11:11] Pro-flynn commented on #138
you are welcome.
About the empty prediction results, i suggect that you can train more epoches . In my experiment,  this model can output effective boxes after 10-20k epoches.

---原始邮件---
发件人: "JiSheng"<notifications@github.com>
发送时间: 2019年8月12日(星期一) 下午4:16
收件人: "ZJULearning/pixel_link"<pixel_link@noreply.github.com>;
抄送: "Mention"<mention@noreply.github.com>;"Shufflewave"<295171504@qq.com>;
主题: R

[2019-08-16 07:58] #144 closed, assigned to nobody

[2019-08-16 07:58] #142 closed, assigned to nobody

[2019-08-17 00:09] 16hchung commented on #27
@chintler I would also appreciate the 3.6 version if you could send it to hchung98@stanford.edu

[2019-08-19 14:17] blueclowd opened #145 "Where is commands and subprocess?"
Inside cmd.py:

def cmd(cmd):
    try:
        import commands
        return commands.getoutput(cmd)
    except:
        import subprocess
        return subprocess.check_output(cmd, shell = True)
#         return os.system(cmd)

May i know where is commands and subprocess??Thanks

[2019-08-19 16:01] blueclowd commented on #145
Got it. Commands module is no longer exists in Python 3

[2019-08-19 16:23] blueclowd commented on #27
You rock!!! Thanks

[2019-09-06 06:50] float123 commented on #127
convert checkpoint file into the pb file：

`import tensorflow as tf
from nets import pixel_link_symbol
import numpy as np
import os

pb_file = "./model_path/pixel_link.pb"
ckpt_file = "./model_path/model.ckpt-73018"
output_node_names = ["strided_slice_3", "strided_slice_4"]
os.environ["CUDA_VISIBLE_DEVICES"] = "0"

with tf.name_scope('input'):
    input_data = tf.placeholder(dtype=tf.float32, shap

[2019-09-17 06:30] ajinkya933 commented on #102
Hi @Dgs29  I have the same problem. How can you solve it ?

[2019-09-17 08:54] wulouzhu commented on #97
I have the same problem

[2019-09-18 02:54] jiangzz1628 commented on #27
能给我一份py3.6的副本吗？我修改也有问题，谢谢

[2019-09-18 02:55] jiangzz1628 commented on #27
我的邮箱1366829591.qq.com

[2019-09-19 03:40] jiangzz1628 commented on #131
能否发我一份，jiangzz1628@163.com，万分感谢

[2019-09-20 13:07] ajinkya933 opened #146 "No output boxes for custom training dataset."
I followed your code but when I retrain the model using python2 I coudnt reproduce your results, rather all the output files donot have any box coordinates,

Training batchsize=16
Platform: AWS p2xlarge (1 Nvidia GPU)
python version: python2

I followed  a discusion thread in issues which said "pixel_link-mingyu.guo" implementation is much better than yours and he has done converting your code to

[2019-09-20 13:19] ajinkya933 commented on #113
@Dgs29  How did you solve it ?

[2019-09-20 13:23] ajinkya933 commented on #134
@msds18004 @VadymBezdushnyi @Pro-xiaowen @comzyh @dengdan  any idea how to solve it

[2019-09-26 07:20] amyjim9907 commented on #75
I have the same problem~~

[2019-09-28 05:50] ajinkya933 commented on #144
@jisheng047 how did you solve

[2019-09-28 23:00] jisheng047 commented on #144
@ajinkya933 Keep training until 250k - 300k steps, loss will drop out to 0.2-0.3.

[2019-09-30 07:23] Doan-Nguyen opened #148 "Why can't draw box in window 10 ?"
Hi guys,
Firstly, thanks to author
So, i have a problems when running the module on window (10 - 64bit). The result images not draw boxes. Although, when running on ubuntu, no problems.

[2019-10-06 05:23] lerndeep commented on #127
you can use model freezing. First, you need to find input and output all node for converting weight into .pb files

[2019-10-14 07:11] ouguozhen opened #150 "can not git this project"
![d91014_151039](https://user-images.githubusercontent.com/14123404/66734237-dbb2a800-ee94-11e9-89f2-f12a7b0e0ba6.jpg)

[2019-10-14 08:26] nyanmn opened #151 "Two lines text"
If text lines are close, it is taken as one line and only one bounding box is produced.
How can I make to produce two line no matter how they are close? Do I need to retrain using pretrained model? Is it better to train from scratch?

[2019-10-15 11:51] rutvij2811 commented on #150
I think you can solve this problem by generating an SSH key and adding it to your github profile.
[Github Official Document](https://help.github.com/en/articles/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent)

[2019-10-16 09:23] zuokai commented on #133
作者写了个假的cython代码。。数据格式还都是python的，这样运行的时候需要将python的数据转化为c的数据格式，速度非常慢，你可以学习用真正的cython把作者的cython代码改写一下，后处理速度可以提升100-1000倍。

[2019-10-21 03:09] Lanme commented on #129
请问找到方法了么？我也是修改python3后检测坐标为空。

[2019-10-21 03:30] Lanme commented on #129
我改好了，主要是把加上sys.path、在print和range和raise加上括号：参考这里面的https://my.oschina.net/u/876354/blog/3065728
其次是更改pixellink_decode修改这个函数：

    pixel_mask = pixel_scores >= pixel_conf_threshold
    link_mask = link_scores >= link_conf_threshold
    done_mask = np.zeros(pixel_mask.shape, np.bool)
    result_mask = np.zeros(pixel_mask.shape, np.int32)
    points = list(zip(*np.where(pixel_mask)))
    h, w = np.shap

[2019-10-23 07:32] lbf4616 commented on #110
same question!

[2019-10-25 05:05] senthil100695 opened #153 "tensorflow conversion to 2.0"
convert to 2.0 ,
you are using tr.contrib.slim   but in tensorflow 2.0 there is not support slim packages ,please help me out how to convert this packages into tensorflow 2.0

[2019-10-26 04:12] xiiiiiiii commented on #84
你好，想问一下你在RCTW-17数据集上准确率召回率是多少，表现如何

[2019-11-01 09:44] AlbinDavid opened #154 "ValueError: Can't load save_path when it is None."
I have given checkpoint path.

[2019-11-01 17:37] #153 closed, assigned to nobody

[2019-11-14 02:42] bjxia1 opened #155 "Question in pixel_link.py about the function 'cal_gt_for_single_image()'"
[code]
Here just draw contours and set contours to 1, but not **set inside the contours to 1**.
I think here also need use cv2.fillPoly.

[2019-11-29 02:05] jun214384468 commented on #4
我也是想问这个问题，在pycharm中怎么改呢？你解决了吗？能不能指点我一下，谢谢

[2019-12-01 11:05] jun214384468 opened #156 "AttributeError: 'NoneType' object has no attribute 'startswith'"
File "/home/yan/disk/All_python_Text/pixel_link-master/train_pixel_link.py", line 97, in config_initialization
    config.print_config(FLAGS, dataset)
  File "/home/yan/disk/All_python_Text/pixel_link-master/None/config.py", line 205, in print_config
    do_print(None)
  File "/home/yan/disk/All_python_Text/pixel_link-master/None/config.py", line 186, in do_print
    print_ckpt(flags.checkpoint_pa

[2019-12-02 13:08] jun214384468 commented on #154
你好，请问你解决了吗？我也遇到了同样的问题，就是找不到原因

[2019-12-03 02:28] jun214384468 opened #157 "ValueError: Can't load save_path when it is None."
File "/home/yan/disk/All_python_Text/pixel_link-master/train_pixel_link.py", line 292, in main
    train(train_op)
  File "/home/yan/disk/All_python_Text/pixel_link-master/train_pixel_link.py", line 278, in train
    session_config = sess_config
  File "/home/yan/anaconda3/envs/pixel_link/lib/python2.7/site-packages/tensorflow/contrib/slim/python/slim/learning.py", line 748, in train
    master, s

[2019-12-04 00:39] Lanme commented on #5
config.batch_size_per_gpu = int(config.batch_size_per_gpu)

[2019-12-04 06:00] Lanme opened #158 "TypeError: Can not convert a list into a Tensor or Operation."
When I run "./scripts/train.sh 0,1 8" ：

  File "train_pixel_link.py", line 293, in <module>
    tf.app.run()
  File "/ai/installs/anaconda3/envs/py27_tf/lib/python2.7/site-packages/tensorflow/python/platform/app.py", line 125, in run
    _sys.exit(main(argv))
  File "train_pixel_link.py", line 288, in main
    train_op = create_clones(batch_queue)
  File "train_pixel_link.py", line 252, in create

[2019-12-04 10:19] Lanme commented on #156
do you set train_dir?

[2019-12-04 10:22] Lanme commented on #126
我是在 import utils前面添加：
import sys
sys.path.append('paths/pixel_link')
sys.path.append('paths/pixel_link/pylib')
sys.path.append('paths/pixel_link/pylib/util')

[2019-12-04 10:26] Lanme commented on #104
你用icpr2018没有报错decode_jpeg错误么？数据集的图片有些是gif格式的

[2019-12-04 12:15] jun214384468 commented on #156
是的，我给train_dir路径了
不过这个问题是因为我给的路径是~/yan/....开头的，他会把~识别然后转换成绝对路径/home/yan
所以我就直接给了绝对路径，完美的绕过了那个错误

[2019-12-04 15:58] Lanme commented on #158
change this line into :

        train_ops.append(bn_update_op)

[2019-12-05 06:35] Lanme commented on #104
请问问题解决了么，我训练一开始loss基本在2点几跳动，一开始出现100steps之后loss=nan，我把batch_size设置为16，lr=1e-4，不会出现nan，但是loss仍然在2跳动

[2019-12-05 07:19] Lanme commented on #128
我100 steps里一直在2-3里，之后的1k steps就一直在1.3-1.9，我的lr=1e-4，我不知道是不是只是因为这个模型训练速度慢而已，看其他issue跑了300k...

[2019-12-06 03:02] Lanme commented on #104
我跑了几万步，发现loss现在在1左右徘徊，在1.5左右的时候框是断开的，跑到1左右的时候有部分框可以合起来了，不过仍然速度比较慢。

[2019-12-07 02:28] jun214384468 opened #159 "./scripts/train.sh: 权限不够是怎么回事啊求帮助"
./scripts/train.sh: 行 25: /home/yan/disk/All_python_Text/pixel_link-master/dataset/ICDAR2015/Challenge4/train_icdar2015/icdar2015_train.tfrecord: 权限不够

[2019-12-17 12:46] v-smwang commented on #7
+1

[2019-12-17 14:02] v-smwang commented on #121
+1

[2019-12-18 03:28] v-smwang commented on #43
+1

[2019-12-18 09:53] v-smwang commented on #128
+1

[2019-12-18 11:44] v-smwang commented on #36
+1

[2020-01-23 10:20] famunir opened #160 "Where is base training model?"
Hello,
Thank you for your efforts. Can you please tell me which base model is used for training? Do I have to download vgg16 or is your pretrained model (which is provided in README.md) used as a base model for further training?
I have some issue with the result and want to train more for by images. Any help from you guys will be appreciated.
Thank again!
@dengdan  @comzyh @bengxy @fc731097343 @ew

[2020-01-28 01:38] AlbinDavid commented on #154
@jun214384468 yes check the value for ckpt path make sure it is the ckpt path.

[2020-01-28 01:38] #154 closed, assigned to nobody

[2020-01-28 07:08] famunir commented on #159
This is possibly because your tf.record has root owner ship.
Try:
``` sudo chown $USER:$USER /home/yan/disk/All_python_Text/pixel_link-master/dataset/ICDAR2015/Challenge4/train_icdar2015/icdar2015_train.tfrecord ```

[2020-02-17 14:35] ManuelRaddatz opened #161 "Invalid Syntax on util"
Hi,

I get an invalid syntax error on util submodule

[code]

What am I doing wrong?

**_Environment:_**
Docker 19.03
Python: 3.6.8
Tensorflow:1.13

[2020-03-04 05:39] famunir commented on #160
Solved! I am using this base model for further training.
PixelLink + VGG16 2s provided [here](https://drive.google.com/file/d/1QleZxu_6PSI733G7wzbqeFtc8A3-LmWW/view)

[2020-03-04 05:39] #160 closed, assigned to nobody

[2020-03-12 12:39] Cabbagehust2507 opened #162 "Can I build this code successfully with tensorflow version 1.4? If anyone can do this, please let me know. Thank you so much!"

[2020-03-18 14:30] pranshu19chester commented on #157
I ran into the same error. I was passing the checkpoint path incorrectly which is used in train.sh script. Maybe check that.

[2020-03-20 12:22] famunir commented on #50
@shengye205 @fjnuwm This issue comes when any bounding box coordinate is greater than the actual size of the image. Sounds very stupid but this is due to some bug in the annotation tools. For example, if you have an image of size 1280x720 and some bounding box coordinate is marked, say (1281, 720). Modifying such annotations will resolve this issue.

[2020-03-27 12:34] pranshu19chester commented on #134
Hi, has anyone found a solution to this problem? I tried training on SROIE2019 dataset for 5,00,000 steps but my model didn't make any bboxes.

[2020-04-01 09:15] DucLong06 commented on #161
you clone https://github.com/dengdan/pylib.git

[2020-04-01 10:31] DucLong06 opened #163 "InternalError (see above for traceback): Blas SGEMM launch failed : m=61440, n=2, k=256"
I want to run test_pixel_link_on_any_image.py
i use
win 10os
anaconda3
cuda9
tensorflow 1.5.0

python test_pixel_link_on_any_image.py --checkpoint_path C:\Users\Administrator\Desktop\LOG\pixel_link\pixel_link_vgg_4s\conv3_3 --dataset_dir C:\Users\Administrator\Desktop\LOG\pixel_link\data --eval_image_width=1280 --eval_image_height=768 --pixel_conf_threshold=0.5 --link_conf_threshold=0.5 --gpu_memo

[2020-04-02 11:18] cansik commented on #127
Would be great if you could provide a prebuilt pb file to download.

[2020-04-06 01:00] banana47 commented on #4
我也遇到了这个问题，请问您怎么解决的

[2020-04-06 20:36] famunir opened #164 "After many steps the loss becomes NaN. (loss = Nan)"
Hello,
I have been training the pixel link on my own data. I have tried various settings (e.g. different batch sizes, different probability of rotation, minimum side length, etc.) but I end up having NaN loss. Any ideas regarding the reasons of this issue. However, when I train on ICDAR 2015, the training goes fine. Any clue to solve this issue is appreciated.
I am only using 1 GPU (6GB) to train

[2020-04-16 14:55] ustczhouyu opened #165 "util"
ImportError: No module named util

[2020-04-24 20:41] dragonsan17 commented on #165
Add ....\pylib\src to PYTHONPATH

[2020-04-25 03:34] longnanxi commented on #165
hello , I add   export PYTHONPATH=${pixel_link_root}/pylib/src:$PYTHONPATH  , but it doesn't work，do you know why?

[2020-04-25 06:37] dragonsan17 commented on #165
I'm sorry I don't know why that is happening. I can help you incase you are using spyder ide (from anaconda). If that is what you are using, then go to tools->PYTHONPATH manager and add the path over there

[2020-05-01 18:19] dragonsan17 opened #166 "Testing on any image (Question)"
Where is the image result stored after running the test_pixel_link_on_any_image.py stored? I found a temp directory with images being tested inside '~temp/no-use/...'.
Is that the right one? If it is, then I have tested an image with the 2s trained model and the 4s trained model. Even by using thresholds as 0, the resultant image is not showing any boxes.

[2020-05-02 08:29] dragonsan17 commented on #166
Solved. Go to https://github.com/baby313/pixel_link and replace your pixel_link_decode.pyx by pixel_link_decode.py from the above link. It will work just fine

[2020-05-02 08:29] #166 closed, assigned to nobody

[2020-05-02 08:37] dragonsan17 commented on #54
Provide the pretrained model's location as argument to checkpoint_path while training. It will use the pretrained weights

[2020-05-02 16:54] shiyihan commented on #164
Hello，I have the same problem.I just trained the pixellink on ICDAR2015,and i just change the data path.But the training loss become 0.000 when the step is 4.Could you tell me when you trained on ICDAR2015,have you change other setting?Or maybe do you have the same problem when you trained on ICDAR2015?

[2020-05-03 05:21] longnanxi commented on #107
hello,  Had you solved this problem?

[2020-05-04 16:06] jisheng047 commented on #107
In my case, I remember that i check the LD_LIBRARY_PATH and i also export the PYTHONPATH again.

[2020-05-08 12:08] shiyihan commented on #75
I have done this problem about the loss=0.0000.Because your enviroment may have some problems.I suggest you gays to reconfigure your environment.I solve this problem by reconfiguring a new environment.

[2020-05-10 10:39] longnanxi commented on #129
您好 ，我改成python3,来训练，loss收敛也正常，但是测试时还是没有检测框，您知道这是什么原因吗？ 我之前在python2环境也是这样，在线等？ 谢谢

[2020-05-10 10:40] longnanxi commented on #129
您好 ，我改成python3,来训练，loss收敛也正常，但是测试时还是没有检测框，您知道这是什么原因吗？ 我之前在python2环境也是这样，在线等， 谢谢

[2020-05-11 07:44] longnanxi commented on #36
hi, Has this problem been solved? I also meet this question

[2020-05-12 20:15] famunir commented on #164
Hi, I also encountered the problem you explained. There were 2 issues in my training and following are the solutions that I applied.
1) When I trained the model for my own data, the training loss in start was very low and converged to 0.000 very quickly as you explained.
Solution: I hope there will be no issue in the directory changing. If you have a look at the training data text files, it looked

[2020-08-18 08:18] mohamad-hoseini commented on #146
i have the same problem, too. Training works on icdar2015 dataset, But doesn't work on my dataset. Not even a box detected after testing on a model at step 300.

Did You manage to solve it?

[2020-08-18 08:21] mohamad-hoseini commented on #134
Training works on icdar2015 dataset but I have the same problem on my own dataset. Could you manage to solve it?
@pranshu19chester  @VadymBezdushnyi  @Pro-xiaowen @ajinkya933 @msds18004

[2020-08-18 08:26] pranshu19chester commented on #134
@mohamad-hoseini try checking the config.py that you are using. There is a default config.py in the root folder. But a different config.py exists when you download the pre-trained model. For me, the root folder config.py file was the wrong one due to which my model wasn't being trained properly. I altered the config.py that came with the pre-trained model and used that.

[2020-08-18 08:39] mohamad-hoseini commented on #75
What environment are you talking about? conda env or training variables!?

[2020-09-01 06:16] ligaoyuan-potato commented on #157
你解决这个问题了吗？我也遇到了，可以分享下解决方法吗？

[2020-09-05 11:27] mohamad-hoseini commented on #46
Did you finally manage to convert the checkpoint model to .pb file or not?
I appreciate if you could help. I'm dealing with the same problem.
The model is too complex that I can't work out what the input and output nodes are.

[2020-09-05 11:28] mohamad-hoseini commented on #127
Did you finally manage to convert the checkpoint model to .pb file or not?
I appreciate if you could help. I'm dealing with the same problem.
The model is too complex that I can't work out what the input and output nodes are.
@cansik
@lerndeep
@PoonamZ

[2020-09-08 09:54] mohamad-hoseini opened #167 "Problem when restoring the trained model : FailedPreconditionError :Attempting to use uninitialized value count_warning"
I have successfully trained a model and want to convert the last checkpoint model ( .meta, .index outptuts) to frozen model (.pb file).

[code]
everytime i run my code.
There seems to be a problem with the model when trying to restore it.
The variable "count_warning" - which seems to be an output node - is not initialized.

How can i fix this issue?!

[2020-11-20 06:58] ywking commented on #104
我也遇到这个问题你解决了吗？还是重新训练了

[2021-03-03 04:48] benlee73 opened #168 "loss = 0.0000"
![image](https://user-images.githubusercontent.com/55429965/109754077-c293ce00-7c26-11eb-998a-d094cbb9a7f3.png)

I don't know why loss is zero.
The training worked well with the icdar2015 dataset, but when I used my other dataset image and ground truth, I got this result.
The format of ground truth is the same as icdar2015.
How can I fix the problem?

For reference, my image size is about 601x792.

[2021-03-03 07:48] #168 closed, assigned to nobody

[2021-05-17 21:56] arshv27 commented on #146
@ajinkya933 @mohamad-hoseini Were you guys able to resolve this issue?

[2021-05-17 22:00] arshv27 commented on #134
@pranshu19chester Have you tried training on a custom dataset? I'm trying to train on ICDAR2019 MLT, but I am facing several issues.  A lot of them have been documented but fixes haven't been suggested. Did you manage to complete your task?

[2021-05-28 07:40] #164 closed, assigned to nobody